Repository nf-core/modules, pull requests merged in 2023-10, with the labels that each got.

#3736 Added blat module
  modules/nf-core/blat/main.nf
  modules/nf-core/blat/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/blat/main.nf
  tests/modules/nf-core/blat/nextflow.config
  tests/modules/nf-core/blat/test.yml
Labels: ready to merge

#3538 new subworkflow bam_cnv_wisecondorx
  modules/nf-core/wisecondorx/predict/main.nf
  subworkflows/nf-core/bam_cnv_wisecondorx/main.nf
  subworkflows/nf-core/bam_cnv_wisecondorx/meta.yml
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/bam_cnv_wisecondorx/main.nf
  tests/subworkflows/nf-core/bam_cnv_wisecondorx/nextflow.config
  tests/subworkflows/nf-core/bam_cnv_wisecondorx/test.yml
Labels: Ready for Review, new subworkflow

#3900 add stub to gatk4 markduplicates
  modules/nf-core/gatk4/markduplicates/main.nf
  tests/modules/nf-core/gatk4/markduplicates/main.nf
  tests/modules/nf-core/gatk4/markduplicates/test.yml
Labels: update module, Ready for Review

#2783 Add spring/compress module
  modules/nf-core/spring/compress/main.nf
  modules/nf-core/spring/compress/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/spring/compress/main.nf
  tests/modules/nf-core/spring/compress/nextflow.config
  tests/modules/nf-core/spring/compress/test.yml
Labels: ready to merge

#3181 New module: Hypo
  modules/nf-core/hypo/main.nf
  modules/nf-core/hypo/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/hypo/main.nf
  tests/modules/nf-core/hypo/nextflow.config
  tests/modules/nf-core/hypo/test.yml
Labels: new module, hackathon2023

#3592 add module for pneumocat
  modules/nf-core/pneumocat/main.nf
  modules/nf-core/pneumocat/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/pneumocat/main.nf
  tests/modules/nf-core/pneumocat/nextflow.config
  tests/modules/nf-core/pneumocat/test.yml
Labels: ready to merge

#2702 add module for stecfinder
  modules/nf-core/stecfinder/main.nf
  modules/nf-core/stecfinder/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/stecfinder/main.nf
  tests/modules/nf-core/stecfinder/nextflow.config
  tests/modules/nf-core/stecfinder/test.yml
Labels: new module, ready to merge

#3725 add module for abritamr_run
  modules/nf-core/abritamr/run/main.nf
  modules/nf-core/abritamr/run/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/abritamr/run/main.nf
  tests/modules/nf-core/abritamr/run/nextflow.config
  tests/modules/nf-core/abritamr/run/test.yml
Labels: ready to merge

#3907 Add spring/decompress module
  modules/nf-core/spring/decompress/main.nf
  modules/nf-core/spring/decompress/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/spring/decompress/main.nf
  tests/modules/nf-core/spring/decompress/nextflow.config
  tests/modules/nf-core/spring/decompress/test.yml
Labels: Ready for Review, new subworkflow

#3884 Propr logratio
  modules/nf-core/propr/logratio/main.nf
  modules/nf-core/propr/logratio/meta.yml
  modules/nf-core/propr/logratio/templates/logratio.R
  tests/config/pytest_modules.yml
  tests/modules/nf-core/propr/logratio/main.nf
  tests/modules/nf-core/propr/logratio/nextflow.config
  tests/modules/nf-core/propr/logratio/test.yml
Labels: Ready for Review

#3916 Add purgedups histplot
  modules/nf-core/purgedups/histplot/main.nf
  modules/nf-core/purgedups/histplot/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/purgedups/histplot/main.nf
  tests/modules/nf-core/purgedups/histplot/nextflow.config
  tests/modules/nf-core/purgedups/histplot/test.yml
Labels: Ready for Review

#3908 Propr propd
  modules/nf-core/propr/propd/main.nf
  modules/nf-core/propr/propd/meta.yml
  modules/nf-core/propr/propd/templates/propd.R
  tests/config/pytest_modules.yml
  tests/modules/nf-core/propr/propd/main.nf
  tests/modules/nf-core/propr/propd/nextflow.config
  tests/modules/nf-core/propr/propd/test.yml
Labels: ready to merge

#3856 update umicollapse from process_medium to process_high
  modules/nf-core/umicollapse/main.nf
Labels: ready to merge

#3927 Update mitohifi findreference
  modules/nf-core/mitohifi/findmitoreference/main.nf
  modules/nf-core/mitohifi/findmitoreference/meta.yml
  tests/modules/nf-core/mitohifi/findmitoreference/main.nf
  tests/modules/nf-core/mitohifi/findmitoreference/test.yml
Labels: Ready for Review

#3921 Update module propr/propd by adding updateF
  modules/nf-core/propr/propd/templates/propd.R
  tests/modules/nf-core/propr/propd/main.nf
  tests/modules/nf-core/propr/propd/nextflow.config
  tests/modules/nf-core/propr/propd/test.yml
Labels: ready to merge

#3953 New modules: vt/decompose
  .github/workflows/test.yml
  modules/nf-core/vt/decompose/main.nf
  modules/nf-core/vt/decompose/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/vt/decompose/main.nf
  tests/modules/nf-core/vt/decompose/nextflow.config
  tests/modules/nf-core/vt/decompose/test.yml
Labels: new module, Ready for Review

#3974 nf-test for fastq_download_prefetch_fasterqdump_sratools
  .github/modules.yml
  .github/workflows/test.yml
  subworkflows/nf-core/fastq_download_prefetch_fasterqdump_sratools/tests/main.nf.test
  subworkflows/nf-core/fastq_download_prefetch_fasterqdump_sratools/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
Labels: nf-test

#3976 Wrong module name in `metaphlan3` test
  modules/nf-core/metaphlan3/mergemetaphlantables/meta.yml
  tests/modules/nf-core/metaphlan3/mergemetaphlantables/main.nf
  tests/modules/nf-core/metaphlan3/mergemetaphlantables/nextflow.config
Labels: bug, tests

#3978 Fixed the `ffq` tests
  tests/modules/nf-core/ffq/test.yml
Labels: tests, update module

#3629 new modules : Pairtools merge
  modules/nf-core/pairtools/merge/main.nf
  modules/nf-core/pairtools/merge/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/pairtools/merge/main.nf
  tests/modules/nf-core/pairtools/merge/nextflow.config
  tests/modules/nf-core/pairtools/merge/test.yml
Labels: new module, ready to merge

#4059 Auto Request review from nf-test people on anything related to nf-test
  .github/CODEOWNERS
Labels: nf-test

#4052 Added custom/getchromsizes nf-tests
  modules/nf-core/custom/getchromsizes/tests/main.nf.test
  modules/nf-core/custom/getchromsizes/tests/main.nf.test.snap
  modules/nf-core/custom/getchromsizes/tests/test.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, hackathon2023, nf-test

#3575 New Cellranger-atac modules
  .github/workflows/test.yml
  modules/nf-core/cellrangeratac/.gitignore
  modules/nf-core/cellrangeratac/Dockerfile
  modules/nf-core/cellrangeratac/README.md
  modules/nf-core/cellrangeratac/count/main.nf
  modules/nf-core/cellrangeratac/count/meta.yml
  modules/nf-core/cellrangeratac/mkfastq/Dockerfile
  modules/nf-core/cellrangeratac/mkfastq/README.md
  modules/nf-core/cellrangeratac/mkfastq/main.nf
  modules/nf-core/cellrangeratac/mkfastq/meta.yml
  modules/nf-core/cellrangeratac/mkref/main.nf
  modules/nf-core/cellrangeratac/mkref/meta.yml
  tests/config/pytest_modules.yml
  tests/config/test_data.config
  tests/modules/nf-core/cellrangeratac/count/main.nf
  tests/modules/nf-core/cellrangeratac/count/nextflow.config
  tests/modules/nf-core/cellrangeratac/count/test.yml
  tests/modules/nf-core/cellrangeratac/mkfastq/main.nf
  tests/modules/nf-core/cellrangeratac/mkfastq/nextflow.config
  tests/modules/nf-core/cellrangeratac/mkfastq/test.yml
  tests/modules/nf-core/cellrangeratac/mkref/main.nf
  tests/modules/nf-core/cellrangeratac/mkref/nextflow.config
  tests/modules/nf-core/cellrangeratac/mkref/test.yml
Labels: Do not merge yet

#4074 Feat/gffread nf tests
  .github/modules.yml
  modules/nf-core/gffread/tests/main.nf.test
  modules/nf-core/gffread/tests/main.nf.test.snap
  modules/nf-core/gffread/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4028 Feat/fastp nf-test
  modules/nf-core/fastp/tests/main.nf.test
  modules/nf-core/fastp/tests/main.nf.test.snap
  modules/nf-core/fastp/tests/nextflow.config
  modules/nf-core/fastp/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4081 Rasusa nf test
  modules/nf-core/rasusa/tests/main.nf.test
  modules/nf-core/rasusa/tests/main.nf.test.snap
  modules/nf-core/rasusa/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4034 Glimpse chunk nftest
  modules/nf-core/glimpse/chunk/tests/main.nf.test
  modules/nf-core/glimpse/chunk/tests/main.nf.test.snap
  modules/nf-core/glimpse/chunk/tests/nextflow.config
  modules/nf-core/glimpse/chunk/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4048 Glimpse ligate nftest
  modules/nf-core/glimpse/ligate/tests/main.nf.test
  modules/nf-core/glimpse/ligate/tests/main.nf.test.snap
  modules/nf-core/glimpse/ligate/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4084 Added fq nf-tests
  modules/nf-core/fq/generate/tests/main.nf.test
  modules/nf-core/fq/generate/tests/main.nf.test.snap
  modules/nf-core/fq/generate/tests/nextflow.config
  modules/nf-core/fq/generate/tests/tags.yml
  modules/nf-core/fq/lint/tests/main.nf.test
  modules/nf-core/fq/lint/tests/main.nf.test.snap
  modules/nf-core/fq/lint/tests/tags.yml
  modules/nf-core/fq/subsample/tests/main.nf.test
  modules/nf-core/fq/subsample/tests/main.nf.test.snap
  modules/nf-core/fq/subsample/tests/nextflow.config
  modules/nf-core/fq/subsample/tests/nextflow_no_args.config
  modules/nf-core/fq/subsample/tests/nextflow_probability.config
  modules/nf-core/fq/subsample/tests/nextflow_record_count.config
  modules/nf-core/fq/subsample/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, hackathon2023, nf-test

#4103 Feat/gunzip nf tests
  modules/nf-core/gunzip/tests/main.nf.test
  modules/nf-core/gunzip/tests/main.nf.test.snap
  modules/nf-core/gunzip/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4110 Feat/trimgalore nf-test
  modules/nf-core/trimgalore/tests/main.nf.test
  modules/nf-core/trimgalore/tests/main.nf.test.snap
  modules/nf-core/trimgalore/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4061 Mlst nf test and version bump to 2.23
  modules/nf-core/mlst/main.nf
  modules/nf-core/mlst/meta.yml
  modules/nf-core/mlst/tests/main.nf.test
  modules/nf-core/mlst/tests/main.nf.test.snap
  modules/nf-core/mlst/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#3720 Update Genrich module input tuple and argument
  modules/nf-core/genrich/main.nf
  modules/nf-core/genrich/meta.yml
  tests/modules/nf-core/genrich/main.nf
  tests/modules/nf-core/genrich/nextflow.config
  tests/modules/nf-core/genrich/test.yml
Labels: enhancement, Ready for Review

#4144 move arriba
  modules/nf-core/arriba/arriba/main.nf
  modules/nf-core/arriba/arriba/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/arriba/arriba/main.nf
  tests/modules/nf-core/arriba/arriba/nextflow.config
  tests/modules/nf-core/arriba/arriba/test.yml
Labels: update module

#4150 Trimmomatic migration nftest
  modules/nf-core/trimmomatic/tests/main.nf.test
  modules/nf-core/trimmomatic/tests/main.nf.test.snap
  modules/nf-core/trimmomatic/tests/nextflow_PE.config
  modules/nf-core/trimmomatic/tests/nextflow_SE.config
  modules/nf-core/trimmomatic/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4163 Complete nf-test for assemblyscan
  modules/nf-core/assemblyscan/tests/main.nf.test
  modules/nf-core/assemblyscan/tests/main.nf.test.snap
  modules/nf-core/assemblyscan/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4174 3991 new module openmsidmerger
  modules/nf-core/openms/idmerger/main.nf
  modules/nf-core/openms/idmerger/meta.yml
  tests/config/pytest_modules.yml
  tests/config/test_data.config
  tests/modules/nf-core/openms/idmerger/main.nf
  tests/modules/nf-core/openms/idmerger/nextflow.config
  tests/modules/nf-core/openms/idmerger/test.yml
Labels: new module

#4024 bismark: nf-test migration
  modules/nf-core/bismark/align/tests/main.nf.test
  modules/nf-core/bismark/align/tests/main.nf.test.snap
  modules/nf-core/bismark/align/tests/nextflow_bowtie2.config
  modules/nf-core/bismark/align/tests/nextflow_hisat2.config
  modules/nf-core/bismark/align/tests/nextflow_minimap2.config
  modules/nf-core/bismark/align/tests/tags.yml
  modules/nf-core/bismark/coverage2cytosine/main.nf
  modules/nf-core/bismark/coverage2cytosine/tests/main.nf.test
  modules/nf-core/bismark/coverage2cytosine/tests/main.nf.test.snap
  modules/nf-core/bismark/coverage2cytosine/tests/tags.yml
  modules/nf-core/bismark/deduplicate/tests/main.nf.test
  modules/nf-core/bismark/deduplicate/tests/main.nf.test.snap
  modules/nf-core/bismark/deduplicate/tests/tags.yml
  modules/nf-core/bismark/genomepreparation/tests/main.nf.test
  modules/nf-core/bismark/genomepreparation/tests/main.nf.test.snap
  modules/nf-core/bismark/genomepreparation/tests/tags.yml
  modules/nf-core/bismark/methylationextractor/meta.yml
  modules/nf-core/bismark/methylationextractor/tests/main.nf.test
  modules/nf-core/bismark/methylationextractor/tests/main.nf.test.snap
  modules/nf-core/bismark/methylationextractor/tests/tags.yml
  modules/nf-core/bismark/report/tests/main.nf.test
  modules/nf-core/bismark/report/tests/main.nf.test.snap
  modules/nf-core/bismark/report/tests/tags.yml
  modules/nf-core/bismark/summary/meta.yml
  modules/nf-core/bismark/summary/tests/main.nf.test
  modules/nf-core/bismark/summary/tests/main.nf.test.snap
  modules/nf-core/bismark/summary/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4139 Feat/bam_sort_stats_samtools nf-test
  subworkflows/nf-core/bam_sort_stats_samtools/tests/main.nf.test
  subworkflows/nf-core/bam_sort_stats_samtools/tests/main.nf.test.snap
  subworkflows/nf-core/bam_sort_stats_samtools/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4169 dragonflye: add nf-test
  modules/nf-core/dragonflye/tests/main.nf.test
  modules/nf-core/dragonflye/tests/main.nf.test.snap
  modules/nf-core/dragonflye/tests/nextflow.miniasm.config
  modules/nf-core/dragonflye/tests/nextflow.raven.config
  modules/nf-core/dragonflye/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4143 Flye nf test
  modules/nf-core/flye/tests/main.nf.test
  modules/nf-core/flye/tests/main.nf.test.snap
  modules/nf-core/flye/tests/nextflow.config
  modules/nf-core/flye/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4105 Glimpse concordance nftest
  modules/nf-core/glimpse/concordance/main.nf
  modules/nf-core/glimpse/concordance/tests/main.nf.test
  modules/nf-core/glimpse/concordance/tests/main.nf.test.snap
  modules/nf-core/glimpse/concordance/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4117 VCF impute sbwf nf-test
  subworkflows/nf-core/vcf_impute_glimpse/tests/main.nf.test
  subworkflows/nf-core/vcf_impute_glimpse/tests/main.nf.test.snap
  subworkflows/nf-core/vcf_impute_glimpse/tests/nextflow.config
  subworkflows/nf-core/vcf_impute_glimpse/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4087 Feat/cat_fastq nf-test
  modules/nf-core/cat/fastq/tests/main.nf.test
  modules/nf-core/cat/fastq/tests/main.nf.test.snap
  modules/nf-core/cat/fastq/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4091 Add nf-test to glimpse_sample
  modules/nf-core/glimpse/sample/tests/main.nf.test
  modules/nf-core/glimpse/sample/tests/main.nf.test.snap
  modules/nf-core/glimpse/sample/tests/nextflow.config
  modules/nf-core/glimpse/sample/tests/tags.yml
Labels: nf-test

#4045 Glimpse phase nftest
  modules/nf-core/glimpse/phase/tests/main.nf.test
  modules/nf-core/glimpse/phase/tests/main.nf.test.snap
  modules/nf-core/glimpse/phase/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4012 Feat/cat_cat nf-test
  modules/nf-core/cat/cat/tests/main.nf.test
  modules/nf-core/cat/cat/tests/main.nf.test.snap
  modules/nf-core/cat/cat/tests/nextflow_unzipped_zipped.config
  modules/nf-core/cat/cat/tests/nextflow_zipped_unzipped.config
  modules/nf-core/cat/cat/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4182 chopper: add nf-test
  modules/nf-core/chopper/tests/main.nf.test
  modules/nf-core/chopper/tests/main.nf.test.snap
  modules/nf-core/chopper/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4066 lint and test runs work
  .github/workflows/test.yml
  modules/nf-core/happy/sompy/main.nf
  modules/nf-core/happy/sompy/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/happy/sompy/main.nf
  tests/modules/nf-core/happy/sompy/nextflow.config
  tests/modules/nf-core/happy/sompy/test.yml
Labels: Ready for Review

#4198 Nf-test tests for vardictjava
  modules/nf-core/vardictjava/tests/main.nf.test
  modules/nf-core/vardictjava/tests/main.nf.test.snap
  modules/nf-core/vardictjava/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4207 3992 new module openmspeakpickerhires
  modules/nf-core/openms/peakpickerhires/main.nf
  modules/nf-core/openms/peakpickerhires/meta.yml
  tests/config/pytest_modules.yml
  tests/config/test_data.config
  tests/modules/nf-core/openms/peakpickerhires/main.nf
  tests/modules/nf-core/openms/peakpickerhires/nextflow.config
  tests/modules/nf-core/openms/peakpickerhires/test.yml
Labels: new module, Ready for Review

#4229 Convert bclconvert and bcl2fastq modules to nf-test
  modules/nf-core/bcl2fastq/tests/main.nf.test
  modules/nf-core/bcl2fastq/tests/main.nf.test.snap
  modules/nf-core/bcl2fastq/tests/nextflow.config
  modules/nf-core/bcl2fastq/tests/tags.yml
  modules/nf-core/bclconvert/tests/main.nf.test
  modules/nf-core/bclconvert/tests/main.nf.test.snap
  modules/nf-core/bclconvert/tests/nextflow.config
  modules/nf-core/bclconvert/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4125 new module: kaiju/mkfmi
  modules/nf-core/kaiju/mkfmi/main.nf
  modules/nf-core/kaiju/mkfmi/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/kaiju/mkfmi/main.nf
  tests/modules/nf-core/kaiju/mkfmi/nextflow.config
  tests/modules/nf-core/kaiju/mkfmi/test.yml
Labels: new module, hackathon2023

#4241 New module openms/idfilter
  modules/nf-core/openms/idfilter/main.nf
  modules/nf-core/openms/idfilter/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/openms/idfilter/main.nf
  tests/modules/nf-core/openms/idfilter/nextflow.config
  tests/modules/nf-core/openms/idfilter/test.yml
Labels: new module, Ready for Review

#4238 pycoqc: add nf-test
  modules/nf-core/pycoqc/tests/main.nf.test
  modules/nf-core/pycoqc/tests/main.nf.test.snap
  modules/nf-core/pycoqc/tests/nextflow.config
  modules/nf-core/pycoqc/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4231 Fix linting test not being run for modules with only nf-test tests
  .github/workflows/test.yml
Labels: bug, tests, nf-test
