Repository nf-core/modules, pull requests merged in 2023-12, with the labels that each got.

#4513 module bam2fastx_bam2fastq
  modules/nf-core/bam2fastx/bam2fastq/environment.yml
  modules/nf-core/bam2fastx/bam2fastq/main.nf
  modules/nf-core/bam2fastx/bam2fastq/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/bam2fastx/bam2fastq/main.nf
  tests/modules/nf-core/bam2fastx/bam2fastq/nextflow.config
  tests/modules/nf-core/bam2fastx/bam2fastq/test.yml
Labels: new module, Ready for Review

#4522 samtools/fasta: remove the extra bracket ( from the version string
  modules/nf-core/ngscheckmate/vafncm/main.nf
  modules/nf-core/pretextmap/main.nf
  modules/nf-core/pretextmap/meta.yml
  modules/nf-core/samtools/calmd/meta.yml
  modules/nf-core/samtools/collate/meta.yml
  modules/nf-core/samtools/fasta/main.nf
  modules/nf-core/samtools/fasta/meta.yml
  modules/nf-core/samtools/markdup/main.nf
  modules/nf-core/samtools/markdup/meta.yml
Labels: linting

#3272 New module: Mindagap/duplicatefinder
  modules/nf-core/mindagap/duplicatefinder/environment.yml
  modules/nf-core/mindagap/duplicatefinder/main.nf
  modules/nf-core/mindagap/duplicatefinder/meta.yml
  modules/nf-core/mindagap/duplicatefinder/tests/main.nf.test
  modules/nf-core/mindagap/duplicatefinder/tests/main.nf.test.snap
  modules/nf-core/mindagap/duplicatefinder/tests/nextflow.config
  modules/nf-core/mindagap/duplicatefinder/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review

#4485 Emit gffread_gff output channel when '-T' argument is absent
  modules/nf-core/gffread/main.nf
  modules/nf-core/gffread/meta.yml
  modules/nf-core/gffread/tests/main.nf.test
  modules/nf-core/gffread/tests/main.nf.test.snap
  modules/nf-core/gffread/tests/nextflow.config
Labels: Ready for Review

#4462 New module: presto/filterseq
  modules/nf-core/presto/filterseq/environment.yml
  modules/nf-core/presto/filterseq/main.nf
  modules/nf-core/presto/filterseq/meta.yml
  modules/nf-core/presto/filterseq/tests/main.nf.test
  modules/nf-core/presto/filterseq/tests/main.nf.test.snap
  modules/nf-core/presto/filterseq/tests/tags.yml
  tests/config/test_data.config
Labels: nf-test

#4532 nf-test for deepbgc modules (download and pipeline)
  modules/nf-core/deepbgc/download/tests/main.nf.test
  modules/nf-core/deepbgc/download/tests/main.nf.test.snap
  modules/nf-core/deepbgc/download/tests/tags.yml
  modules/nf-core/deepbgc/pipeline/tests/main.nf.test
  modules/nf-core/deepbgc/pipeline/tests/main.nf.test.snap
  modules/nf-core/deepbgc/pipeline/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/deepbgc/download/main.nf
  tests/modules/nf-core/deepbgc/download/nextflow.config
  tests/modules/nf-core/deepbgc/download/test.yml
  tests/modules/nf-core/deepbgc/pipeline/main.nf
  tests/modules/nf-core/deepbgc/pipeline/nextflow.config
  tests/modules/nf-core/deepbgc/pipeline/test.yml
Labels: nf-test

#4547 nf-test for Mesmer
  .github/workflows/test.yml
  modules/nf-core/deepcell/mesmer/environment.yml
  modules/nf-core/deepcell/mesmer/main.nf
  modules/nf-core/deepcell/mesmer/meta.yml
  modules/nf-core/deepcell/mesmer/tests/main.nf.test
  modules/nf-core/deepcell/mesmer/tests/main.nf.test.snap
  modules/nf-core/deepcell/mesmer/tests/nextflow.config
  modules/nf-core/deepcell/mesmer/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/deepcell/mesmer/main.nf
  tests/modules/nf-core/deepcell/mesmer/test.yml
Labels: Ready for Review, nf-test

#4487 nf-test famsa/tree
  modules/nf-core/famsa/guidetree/meta.yml
  modules/nf-core/famsa/guidetree/tests/main.nf.test
  modules/nf-core/famsa/guidetree/tests/main.nf.test.snap
  modules/nf-core/famsa/guidetree/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/famsa/guidetree/main.nf
  tests/modules/nf-core/famsa/guidetree/nextflow.config
  tests/modules/nf-core/famsa/guidetree/test.yml
Labels: ready to merge, nf-test

#4481 nf-tests for bedtools
  modules/nf-core/bedtools/bamtobed/tests/main.nf.test
  modules/nf-core/bedtools/bamtobed/tests/main.nf.test.snap
  modules/nf-core/bedtools/bamtobed/tests/tags.yml
  modules/nf-core/bedtools/closest/tests/main.nf.test
  modules/nf-core/bedtools/closest/tests/main.nf.test.snap
  modules/nf-core/bedtools/closest/tests/tags.yml
  modules/nf-core/bedtools/complement/meta.yml
  modules/nf-core/bedtools/complement/tests/main.nf.test
  modules/nf-core/bedtools/complement/tests/main.nf.test.snap
  modules/nf-core/bedtools/complement/tests/tags.yml
  modules/nf-core/bedtools/coverage/tests/main.nf.test
  modules/nf-core/bedtools/coverage/tests/main.nf.test.snap
  modules/nf-core/bedtools/coverage/tests/nextflow.config
  modules/nf-core/bedtools/coverage/tests/tags.yml
  modules/nf-core/bedtools/genomecov/tests/main.nf.test
  modules/nf-core/bedtools/genomecov/tests/main.nf.test.snap
  modules/nf-core/bedtools/genomecov/tests/nextflow.config
  modules/nf-core/bedtools/genomecov/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/bedtools/bamtobed/main.nf
  tests/modules/nf-core/bedtools/bamtobed/nextflow.config
  tests/modules/nf-core/bedtools/bamtobed/test.yml
  tests/modules/nf-core/bedtools/closest/main.nf
  tests/modules/nf-core/bedtools/closest/nextflow.config
  tests/modules/nf-core/bedtools/closest/test.yml
  tests/modules/nf-core/bedtools/complement/main.nf
  tests/modules/nf-core/bedtools/complement/nextflow.config
  tests/modules/nf-core/bedtools/complement/test.yml
  tests/modules/nf-core/bedtools/coverage/main.nf
  tests/modules/nf-core/bedtools/coverage/nextflow.config
  tests/modules/nf-core/bedtools/coverage/test.yml
  tests/modules/nf-core/bedtools/genomecov/main.nf
  tests/modules/nf-core/bedtools/genomecov/nextflow.config
  tests/modules/nf-core/bedtools/genomecov/test.yml
Labels: nf-test

#4203 New module: Proteinortho
  modules/nf-core/proteinortho/environment.yml
  modules/nf-core/proteinortho/main.nf
  modules/nf-core/proteinortho/meta.yml
  modules/nf-core/proteinortho/tests/main.nf.test
  modules/nf-core/proteinortho/tests/main.nf.test.snap
  modules/nf-core/proteinortho/tests/tags.yml
Labels: new module, ready to merge, nf-test

#4526 Adding new modules: xz/compress and xz/decompress
  modules/nf-core/xz/compress/environment.yml
  modules/nf-core/xz/compress/main.nf
  modules/nf-core/xz/compress/meta.yml
  modules/nf-core/xz/compress/tests/main.nf.test
  modules/nf-core/xz/compress/tests/main.nf.test.snap
  modules/nf-core/xz/compress/tests/nextflow.config
  modules/nf-core/xz/compress/tests/tags.yml
  modules/nf-core/xz/decompress/environment.yml
  modules/nf-core/xz/decompress/main.nf
  modules/nf-core/xz/decompress/meta.yml
  modules/nf-core/xz/decompress/tests/main.nf.test
  modules/nf-core/xz/decompress/tests/main.nf.test.snap
  modules/nf-core/xz/decompress/tests/nextflow.config
  modules/nf-core/xz/decompress/tests/tags.yml
Labels: new module, Ready for Review, nf-test

#4379 Update dragmap + add nf-test
  modules/nf-core/dragmap/align/environment.yml
  modules/nf-core/dragmap/align/main.nf
  modules/nf-core/dragmap/align/tests/main.nf.test
  modules/nf-core/dragmap/align/tests/main.nf.test.snap
  modules/nf-core/dragmap/align/tests/tags.yml
  modules/nf-core/dragmap/hashtable/main.nf
  modules/nf-core/dragmap/hashtable/tests/main.nf.test
  modules/nf-core/dragmap/hashtable/tests/main.nf.test.snap
  modules/nf-core/dragmap/hashtable/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/dragmap/align/main.nf
  tests/modules/nf-core/dragmap/align/nextflow.config
  tests/modules/nf-core/dragmap/align/test.yml
  tests/modules/nf-core/dragmap/hashtable/main.nf
  tests/modules/nf-core/dragmap/hashtable/nextflow.config
  tests/modules/nf-core/dragmap/hashtable/test.yml
Labels: nf-test

#3577 Freyja doc meta fix
  modules/nf-core/freyja/boot/environment.yml
  modules/nf-core/freyja/boot/main.nf
  modules/nf-core/freyja/boot/meta.yml
  modules/nf-core/freyja/boot/tests/main.nf.test
  modules/nf-core/freyja/boot/tests/main.nf.test.snap
  modules/nf-core/freyja/boot/tests/nextflow.config
  modules/nf-core/freyja/boot/tests/tags.yml
  modules/nf-core/freyja/demix/environment.yml
  modules/nf-core/freyja/demix/main.nf
  modules/nf-core/freyja/demix/meta.yml
  modules/nf-core/freyja/demix/tests/main.nf.test
  modules/nf-core/freyja/demix/tests/main.nf.test.snap
  modules/nf-core/freyja/demix/tests/nextflow.config
  modules/nf-core/freyja/demix/tests/tags.yml
  modules/nf-core/freyja/update/environment.yml
  modules/nf-core/freyja/update/main.nf
  modules/nf-core/freyja/update/meta.yml
  modules/nf-core/freyja/update/tests/main.nf.test
  modules/nf-core/freyja/update/tests/main.nf.test.snap
  modules/nf-core/freyja/update/tests/tags.yml
  modules/nf-core/freyja/variants/environment.yml
  modules/nf-core/freyja/variants/main.nf
  modules/nf-core/freyja/variants/meta.yml
  modules/nf-core/freyja/variants/tests/main.nf.test
  modules/nf-core/freyja/variants/tests/main.nf.test.snap
  modules/nf-core/freyja/variants/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/freyja/boot/main.nf
  tests/modules/nf-core/freyja/boot/nextflow.config
  tests/modules/nf-core/freyja/boot/test.yml
  tests/modules/nf-core/freyja/demix/main.nf
  tests/modules/nf-core/freyja/demix/nextflow.config
  tests/modules/nf-core/freyja/demix/test.yml
  tests/modules/nf-core/freyja/update/main.nf
  tests/modules/nf-core/freyja/update/nextflow.config
  tests/modules/nf-core/freyja/update/test.yml
  tests/modules/nf-core/freyja/variants/main.nf
  tests/modules/nf-core/freyja/variants/nextflow.config
  tests/modules/nf-core/freyja/variants/test.yml
Labels: documentation, nf-test

#4538 [Update gprofiler2] Change params, fix error for empty tables
  modules/nf-core/gprofiler2/gost/main.nf
  modules/nf-core/gprofiler2/gost/meta.yml
  modules/nf-core/gprofiler2/gost/templates/gprofiler2_gost.R
  tests/modules/nf-core/gprofiler2/gost/main.nf
  tests/modules/nf-core/gprofiler2/gost/nextflow.config
Labels: Ready for Review

#4555 Added nf-tests to bacphlip module
  modules/nf-core/bacphlip/environment.yml
  modules/nf-core/bacphlip/meta.yml
  modules/nf-core/bacphlip/tests/main.nf.test
  modules/nf-core/bacphlip/tests/main.nf.test.snap
  modules/nf-core/bacphlip/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/bacphlip/main.nf
  tests/modules/nf-core/bacphlip/nextflow.config
  tests/modules/nf-core/bacphlip/test.yml
Labels: nf-test

#4504 Update/gatk4 applybqsr nf test
  modules/nf-core/gatk4/applybqsr/tests/main.nf.test
  modules/nf-core/gatk4/applybqsr/tests/main.nf.test.snap
  modules/nf-core/gatk4/applybqsr/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/gatk4/applybqsr/main.nf
  tests/modules/nf-core/gatk4/applybqsr/nextflow.config
  tests/modules/nf-core/gatk4/applybqsr/test.yml
Labels: nf-test

#4500 write an nf-test for bam_markduplicates_picard subworkflow
  subworkflows/nf-core/bam_markduplicates_picard/tests/main.nf.test
  subworkflows/nf-core/bam_markduplicates_picard/tests/main.nf.test.snap
  subworkflows/nf-core/bam_markduplicates_picard/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/bam_markduplicates_picard/main.nf
  tests/subworkflows/nf-core/bam_markduplicates_picard/nextflow.config
  tests/subworkflows/nf-core/bam_markduplicates_picard/test.yml
Labels: nf-test

#4566 blastn snapshot for versions added
  modules/nf-core/blast/blastn/tests/main.nf.test
  modules/nf-core/blast/blastn/tests/main.nf.test.snap
Labels: nf-test

#4548 migrate openms_decoydatabase to nftest
  modules/nf-core/openms/decoydatabase/meta.yml
  modules/nf-core/openms/decoydatabase/tests/main.nf.test
  modules/nf-core/openms/decoydatabase/tests/main.nf.test.snap
  modules/nf-core/openms/decoydatabase/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/openms/decoydatabase/main.nf
  tests/modules/nf-core/openms/decoydatabase/nextflow.config
  tests/modules/nf-core/openms/decoydatabase/test.yml
Labels: Ready for Review, nf-test

#4560 Add pigz/compress module
  modules/nf-core/pigz/compress/environment.yml
  modules/nf-core/pigz/compress/main.nf
  modules/nf-core/pigz/compress/meta.yml
  modules/nf-core/pigz/compress/tests/main.nf.test
  modules/nf-core/pigz/compress/tests/main.nf.test.snap
  modules/nf-core/pigz/compress/tests/tags.yml
Labels: new module, Ready for Review, nf-test

#4582 Update freebayes to add metas to all channels. also nf-tests migration
  modules/nf-core/freebayes/main.nf
  modules/nf-core/freebayes/meta.yml
  modules/nf-core/freebayes/tests/main.nf.test
  modules/nf-core/freebayes/tests/main.nf.test.snap
  modules/nf-core/freebayes/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/freebayes/main.nf
  tests/modules/nf-core/freebayes/nextflow.config
  tests/modules/nf-core/freebayes/test.yml
Labels: update module, nf-test

#4586 Add cobs/classicconstruct module
  modules/nf-core/cobs/classicconstruct/environment.yml
  modules/nf-core/cobs/classicconstruct/main.nf
  modules/nf-core/cobs/classicconstruct/meta.yml
  modules/nf-core/cobs/classicconstruct/tests/main.nf.test
  modules/nf-core/cobs/classicconstruct/tests/main.nf.test.snap
  modules/nf-core/cobs/classicconstruct/tests/tags.yml
Labels: new module, Ready for Review, nf-test

#4339 add mtmalign
  modules/nf-core/mtmalign/align/environment.yml
  modules/nf-core/mtmalign/align/main.nf
  modules/nf-core/mtmalign/align/meta.yml
  modules/nf-core/mtmalign/align/tests/main.nf.test
  modules/nf-core/mtmalign/align/tests/main.nf.test.snap
  modules/nf-core/mtmalign/align/tests/tags.yml
Labels: Ready for Review, ready to merge

#4572 aria2: stub, stub test, improved tests and meta.yml
  modules/nf-core/aria2/main.nf
  modules/nf-core/aria2/meta.yml
  modules/nf-core/aria2/tests/main.nf.test
  modules/nf-core/aria2/tests/main.nf.test.snap
Labels: Ready for Review

#4607 Add cobs/compactconstruct module
  modules/nf-core/cobs/compactconstruct/environment.yml
  modules/nf-core/cobs/compactconstruct/main.nf
  modules/nf-core/cobs/compactconstruct/meta.yml
  modules/nf-core/cobs/compactconstruct/tests/main.nf.test
  modules/nf-core/cobs/compactconstruct/tests/main.nf.test.snap
  modules/nf-core/cobs/compactconstruct/tests/tags.yml
Labels: new module, Ready for Review, nf-test

#4602 nf-test for module PROKKA
  modules/nf-core/prokka/main.nf
  modules/nf-core/prokka/tests/main.nf.test
  modules/nf-core/prokka/tests/main.nf.test.snap
  modules/nf-core/prokka/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/prokka/main.nf
  tests/modules/nf-core/prokka/nextflow.config
  tests/modules/nf-core/prokka/test.yml
Labels: nf-test

#4617 mindagap/mindagap nf-test migration
  modules/nf-core/mindagap/mindagap/main.nf
  modules/nf-core/mindagap/mindagap/meta.yml
  modules/nf-core/mindagap/mindagap/tests/main.nf.test
  modules/nf-core/mindagap/mindagap/tests/main.nf.test.snap
  modules/nf-core/mindagap/mindagap/tests/nextflow.config
  modules/nf-core/mindagap/mindagap/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/mindagap/mindagap/main.nf
  tests/modules/nf-core/mindagap/mindagap/nextflow.config
  tests/modules/nf-core/mindagap/mindagap/test.yml
Labels: Ready for Review, nf-test

#4625 nf-test and stub for porechop/porechop
  modules/nf-core/porechop/porechop/main.nf
  modules/nf-core/porechop/porechop/tests/main.nf.test
  modules/nf-core/porechop/porechop/tests/main.nf.test.snap
  modules/nf-core/porechop/porechop/tests/nextflow.config
  modules/nf-core/porechop/porechop/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/porechop/porechop/main.nf
  tests/modules/nf-core/porechop/porechop/test.yml
Labels: Ready for Review, nf-test

#4561 abritamr/run nf-test and snapshot
  modules/nf-core/abritamr/run/meta.yml
  modules/nf-core/abritamr/run/tests/main.nf.test
  modules/nf-core/abritamr/run/tests/main.nf.test.snap
  modules/nf-core/abritamr/run/tests/nextflow.config
  modules/nf-core/abritamr/run/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/abritamr/run/main.nf
  tests/modules/nf-core/abritamr/run/nextflow.config
  tests/modules/nf-core/abritamr/run/test.yml
Labels: ready to merge, nf-test

#4613 Update/gatk4spark applybqsr nftest
  modules/nf-core/gatk4/baserecalibrator/main.nf
  modules/nf-core/gatk4/baserecalibrator/tests/main.nf.test
  modules/nf-core/gatk4/baserecalibrator/tests/main.nf.test.snap
  modules/nf-core/gatk4/baserecalibrator/tests/tags.yml
  modules/nf-core/gatk4spark/applybqsr/main.nf
  modules/nf-core/gatk4spark/applybqsr/tests/main.nf.test
  modules/nf-core/gatk4spark/applybqsr/tests/main.nf.test.snap
  modules/nf-core/gatk4spark/applybqsr/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/gatk4/baserecalibrator/main.nf
  tests/modules/nf-core/gatk4/baserecalibrator/nextflow.config
  tests/modules/nf-core/gatk4/baserecalibrator/test.yml
  tests/modules/nf-core/gatk4spark/applybqsr/main.nf
  tests/modules/nf-core/gatk4spark/applybqsr/nextflow.config
  tests/modules/nf-core/gatk4spark/applybqsr/test.yml
Labels: ready to merge, nf-test

#4563 adapterremoval nf-test snapshot
  modules/nf-core/adapterremoval/meta.yml
  modules/nf-core/adapterremoval/tests/main.nf.test
  modules/nf-core/adapterremoval/tests/main.nf.test.snap
  modules/nf-core/adapterremoval/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/adapterremoval/main.nf
  tests/modules/nf-core/adapterremoval/nextflow.config
Labels: nf-test

#3576 New Cellrangerarc modules
  .github/workflows/test.yml
  modules/nf-core/cellrangerarc/.gitignore
  modules/nf-core/cellrangerarc/Dockerfile
  modules/nf-core/cellrangerarc/README.md
  modules/nf-core/cellrangerarc/count/main.nf
  modules/nf-core/cellrangerarc/count/meta.yml
  modules/nf-core/cellrangerarc/mkfastq/Dockerfile
  modules/nf-core/cellrangerarc/mkfastq/README.md
  modules/nf-core/cellrangerarc/mkfastq/main.nf
  modules/nf-core/cellrangerarc/mkfastq/meta.yml
  modules/nf-core/cellrangerarc/mkgtf/main.nf
  modules/nf-core/cellrangerarc/mkgtf/meta.yml
  modules/nf-core/cellrangerarc/mkref/main.nf
  modules/nf-core/cellrangerarc/mkref/meta.yml
  tests/config/pytest_modules.yml
  tests/config/test_data.config
  tests/modules/nf-core/cellrangerarc/count/main.nf
  tests/modules/nf-core/cellrangerarc/count/nextflow.config
  tests/modules/nf-core/cellrangerarc/count/test.yml
  tests/modules/nf-core/cellrangerarc/mkfastq/main.nf
  tests/modules/nf-core/cellrangerarc/mkfastq/nextflow.config
  tests/modules/nf-core/cellrangerarc/mkfastq/test.yml
  tests/modules/nf-core/cellrangerarc/mkgtf/main.nf
  tests/modules/nf-core/cellrangerarc/mkgtf/nextflow.config
  tests/modules/nf-core/cellrangerarc/mkgtf/test.yml
  tests/modules/nf-core/cellrangerarc/mkref/main.nf
  tests/modules/nf-core/cellrangerarc/mkref/nextflow.config
  tests/modules/nf-core/cellrangerarc/mkref/test.yml
Labels: Do not merge yet

#4646 fixing vcf2cytosure and adding nf-test
  modules/nf-core/vcf2cytosure/environment.yml
  modules/nf-core/vcf2cytosure/main.nf
  modules/nf-core/vcf2cytosure/meta.yml
  modules/nf-core/vcf2cytosure/tests/main.nf.test
  modules/nf-core/vcf2cytosure/tests/main.nf.test.snap
  modules/nf-core/vcf2cytosure/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/vcf2cytosure/main.nf
  tests/modules/nf-core/vcf2cytosure/nextflow.config
  tests/modules/nf-core/vcf2cytosure/test.yml
Labels: ready to merge

#4660 ampir stub, nf-test, snap
  modules/nf-core/ampir/main.nf
  modules/nf-core/ampir/meta.yml
  modules/nf-core/ampir/tests/main.nf.test
  modules/nf-core/ampir/tests/main.nf.test.snap
  modules/nf-core/ampir/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/ampir/main.nf
  tests/modules/nf-core/ampir/nextflow.config
  tests/modules/nf-core/ampir/test.yml
Labels: Ready for Review, nf-test

#4616 Update gatk4spark/markduplicates with nftest
  modules/nf-core/gatk4spark/markduplicates/main.nf
  modules/nf-core/gatk4spark/markduplicates/tests/bam.config
  modules/nf-core/gatk4spark/markduplicates/tests/cram.config
  modules/nf-core/gatk4spark/markduplicates/tests/main.nf.test
  modules/nf-core/gatk4spark/markduplicates/tests/main.nf.test.snap
  modules/nf-core/gatk4spark/markduplicates/tests/metrics.config
  modules/nf-core/gatk4spark/markduplicates/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/gatk4spark/markduplicates/main.nf
  tests/modules/nf-core/gatk4spark/markduplicates/nextflow.config
  tests/modules/nf-core/gatk4spark/markduplicates/test.yml
Labels: Ready for Review, nf-test

#4647 fixing outfile type and switching to nf-test
  modules/nf-core/tiddit/cov/main.nf
  modules/nf-core/tiddit/cov/meta.yml
  modules/nf-core/tiddit/cov/tests/main.nf.test
  modules/nf-core/tiddit/cov/tests/main.nf.test.snap
  modules/nf-core/tiddit/cov/tests/nextflow.config
  modules/nf-core/tiddit/cov/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/tiddit/cov/main.nf
  tests/modules/nf-core/tiddit/cov/nextflow.config
  tests/modules/nf-core/tiddit/cov/test.yml
Labels: ready to merge

#4669 fix fastqc tests n snap
  modules/nf-core/fastqc/tests/main.nf.test
  modules/nf-core/fastqc/tests/main.nf.test.snap
Labels: Ready for Review, nf-test

#4652 allelecounter stub, nf-test, snap
  modules/nf-core/allelecounter/main.nf
  modules/nf-core/allelecounter/meta.yml
  modules/nf-core/allelecounter/tests/main.nf.test
  modules/nf-core/allelecounter/tests/main.nf.test.snap
  modules/nf-core/allelecounter/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/allelecounter/main.nf
  tests/modules/nf-core/allelecounter/nextflow.config
  tests/modules/nf-core/allelecounter/test.yml
Labels: Ready for Review, nf-test

#4636 Custom/cat additional fasta (delocalise rnaseq module)
  modules/nf-core/custom/catadditionalfasta/environment.yml
  modules/nf-core/custom/catadditionalfasta/main.nf
  modules/nf-core/custom/catadditionalfasta/meta.yml
  modules/nf-core/custom/catadditionalfasta/templates/fasta2gtf.py
  modules/nf-core/custom/catadditionalfasta/tests/main.nf.test
  modules/nf-core/custom/catadditionalfasta/tests/main.nf.test.snap
  modules/nf-core/custom/catadditionalfasta/tests/tags.yml
Labels: Ready for Review

#4670 fix multiqc nf-test with snap
  modules/nf-core/multiqc/main.nf
  modules/nf-core/multiqc/meta.yml
  modules/nf-core/multiqc/tests/main.nf.test
  modules/nf-core/multiqc/tests/main.nf.test.snap
Labels: Ready for Review, nf-test

#4672 gatk4/annotateintervals nf-test, snapshot
  modules/nf-core/gatk4/annotateintervals/tests/main.nf.test
  modules/nf-core/gatk4/annotateintervals/tests/main.nf.test.snap
  modules/nf-core/gatk4/annotateintervals/tests/nextflow.config
  modules/nf-core/gatk4/annotateintervals/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/gatk4/annotateintervals/main.nf
  tests/modules/nf-core/gatk4/annotateintervals/test.yml
Labels: Ready for Review, nf-test

#4653 agrvate stub, nf-test, snap
  modules/nf-core/agrvate/main.nf
  modules/nf-core/agrvate/tests/main.nf.test
  modules/nf-core/agrvate/tests/main.nf.test.snap
  modules/nf-core/agrvate/tests/nextflow.config
  modules/nf-core/agrvate/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/agrvate/main.nf
  tests/modules/nf-core/agrvate/nextflow.config
  tests/modules/nf-core/agrvate/test.yml
Labels: Ready for Review, nf-test

#4654 agat/sqstatbasic stub, nf-test, snap
  modules/nf-core/agat/sqstatbasic/main.nf
  modules/nf-core/agat/sqstatbasic/meta.yml
  modules/nf-core/agat/sqstatbasic/tests/main.nf.test
  modules/nf-core/agat/sqstatbasic/tests/main.nf.test.snap
  modules/nf-core/agat/sqstatbasic/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/agat/sqstatbasic/main.nf
  tests/modules/nf-core/agat/sqstatbasic/nextflow.config
  tests/modules/nf-core/agat/sqstatbasic/test.yml
Labels: Ready for Review, nf-test
