Repository nf-core/modules, pull requests merged in 2023-11, with the labels that each got.

#4136 Ucsc/bedgraphtobigwig nftest
  modules/nf-core/ucsc/bedgraphtobigwig/tests/main.nf.test
  modules/nf-core/ucsc/bedgraphtobigwig/tests/main.nf.test.snap
  modules/nf-core/ucsc/bedgraphtobigwig/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Do not merge yet

#4280 add arriba download
  modules/nf-core/arriba/download/environment.yml
  modules/nf-core/arriba/download/main.nf
  modules/nf-core/arriba/download/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/arriba/download/main.nf
  tests/modules/nf-core/arriba/download/nextflow.config
  tests/modules/nf-core/arriba/download/test.yml
Labels: new module

#4265 add agat/convertspgff2tsv module
  modules/nf-core/agat/convertspgff2tsv/environment.yml
  modules/nf-core/agat/convertspgff2tsv/main.nf
  modules/nf-core/agat/convertspgff2tsv/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/agat/convertspgff2tsv/main.nf
  tests/modules/nf-core/agat/convertspgff2tsv/nextflow.config
  tests/modules/nf-core/agat/convertspgff2tsv/test.yml
Labels: Ready for Review

#4190 Bug: nf-test bam_sort_stats_samtools
  subworkflows/nf-core/bam_sort_stats_samtools/tests/main.nf.test
  subworkflows/nf-core/bam_sort_stats_samtools/tests/main.nf.test.snap
  subworkflows/nf-core/bam_sort_stats_samtools/tests/tags.yml
Labels: bug, Ready for Review, nf-test

#4196 new module gridss GeneratePonBedpe
  modules/nf-core/gridss/gridssgenerateponbedpe/main.nf
  modules/nf-core/gridss/gridssgenerateponbedpe/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/gridss/gridssgenerateponbedpe/main.nf
  tests/modules/nf-core/gridss/gridssgenerateponbedpe/nextflow.config
  tests/modules/nf-core/gridss/gridssgenerateponbedpe/test.yml
Labels: new module, Ready for Review

#4247 3167 new module gridss gridss somatic filter
  modules/nf-core/gridss/gridsssomaticfilter/main.nf
  modules/nf-core/gridss/gridsssomaticfilter/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/gridss/gridsssomaticfilter/main.nf
  tests/modules/nf-core/gridss/gridsssomaticfilter/nextflow.config
  tests/modules/nf-core/gridss/gridsssomaticfilter/test.yml
Labels: Ready for Review

#4285 Added a meta map for the reference genome of minimap2
  .github/workflows/test.yml
  modules/nf-core/minimap2/align/main.nf
  modules/nf-core/minimap2/align/meta.yml
  tests/modules/nf-core/minimap2/align/main.nf
Labels: update module, Ready for Review

#4194 Diamond tools: nf-test, container update, stubs added, makedb meta added, gz input support, megan makedb test updated
  modules/nf-core/diamond/blastp/environment.yml
  modules/nf-core/diamond/blastp/main.nf
  modules/nf-core/diamond/blastp/meta.yml
  modules/nf-core/diamond/blastp/tests/main.nf.test
  modules/nf-core/diamond/blastp/tests/main.nf.test.snap
  modules/nf-core/diamond/blastp/tests/tags.yml
  modules/nf-core/diamond/blastx/environment.yml
  modules/nf-core/diamond/blastx/main.nf
  modules/nf-core/diamond/blastx/meta.yml
  modules/nf-core/diamond/blastx/tests/main.nf.test
  modules/nf-core/diamond/blastx/tests/main.nf.test.snap
  modules/nf-core/diamond/blastx/tests/tags.yml
  modules/nf-core/diamond/makedb/environment.yml
  modules/nf-core/diamond/makedb/main.nf
  modules/nf-core/diamond/makedb/meta.yml
  modules/nf-core/diamond/makedb/tests/main.nf.test
  modules/nf-core/diamond/makedb/tests/main.nf.test.snap
  modules/nf-core/diamond/makedb/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/diamond/blastp/main.nf
  tests/modules/nf-core/diamond/blastp/nextflow.config
  tests/modules/nf-core/diamond/blastp/test.yml
  tests/modules/nf-core/diamond/blastx/main.nf
  tests/modules/nf-core/diamond/blastx/nextflow.config
  tests/modules/nf-core/diamond/blastx/test.yml
  tests/modules/nf-core/diamond/makedb/main.nf
  tests/modules/nf-core/diamond/makedb/test.yml
  tests/modules/nf-core/megan/daa2info/main.nf
Labels: nf-test

#4146 Feat/bam_dedup_stats_samtools_umitools nf-test
  subworkflows/nf-core/bam_dedup_stats_samtools_umitools/tests/main.nf.test
  subworkflows/nf-core/bam_dedup_stats_samtools_umitools/tests/main.nf.test.snap
  subworkflows/nf-core/bam_dedup_stats_samtools_umitools/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#3917 eggnogmapper module
  modules/nf-core/eggnogmapper/environment.yml
  modules/nf-core/eggnogmapper/main.nf
  modules/nf-core/eggnogmapper/meta.yml
  modules/nf-core/eggnogmapper/tests/main.nf.test
  modules/nf-core/eggnogmapper/tests/main.nf.test.snap
  modules/nf-core/eggnogmapper/tests/tags.yml
  tests/modules/nf-core/eggnogmapper/main.nf
  tests/modules/nf-core/eggnogmapper/nextflow.config
  tests/modules/nf-core/eggnogmapper/test.yml
Labels: nf-test

#4137 Add untar nf-tests
  modules/nf-core/untar/tests/main.nf.test
  modules/nf-core/untar/tests/main.nf.test.snap
  modules/nf-core/untar/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, hackathon2023, nf-test

#4315 Foldseek module
  modules/nf-core/foldseek/createdb/environment.yml
  modules/nf-core/foldseek/createdb/main.nf
  modules/nf-core/foldseek/createdb/meta.yml
  modules/nf-core/foldseek/createdb/tests/main.nf.test
  modules/nf-core/foldseek/createdb/tests/main.nf.test.snap
  modules/nf-core/foldseek/createdb/tests/tags.yml
  modules/nf-core/foldseek/easysearch/environment.yml
  modules/nf-core/foldseek/easysearch/main.nf
  modules/nf-core/foldseek/easysearch/meta.yml
  modules/nf-core/foldseek/easysearch/tests/main.nf.test
  modules/nf-core/foldseek/easysearch/tests/tags.yml
  tests/modules/nf-core/foldseek/createdb/main.nf
  tests/modules/nf-core/foldseek/createdb/nextflow.config
  tests/modules/nf-core/foldseek/createdb/test.yml
  tests/modules/nf-core/foldseek/easysearch/main.nf
  tests/modules/nf-core/foldseek/easysearch/nextflow.config
  tests/modules/nf-core/foldseek/easysearch/test.yml
Labels: new module, Ready for Review, nf-test

#4325 Update seqkit/tab2fx seqkit/fx2tab to version 2.6.0
  modules/nf-core/seqkit/fx2tab/environment.yml
  modules/nf-core/seqkit/fx2tab/main.nf
  modules/nf-core/seqkit/tab2fx/environment.yml
  modules/nf-core/seqkit/tab2fx/main.nf
Labels: update module, Ready for Review

#4333 New module: bedgovcf
  modules/nf-core/bedgovcf/environment.yml
  modules/nf-core/bedgovcf/main.nf
  modules/nf-core/bedgovcf/meta.yml
  modules/nf-core/bedgovcf/tests/main.nf.test
  modules/nf-core/bedgovcf/tests/main.nf.test.snap
  modules/nf-core/bedgovcf/tests/tags.yml
Labels: new module, Ready for Review, nf-test

#4294 Add gprofiler2 module
  modules/nf-core/gprofiler2/gost/environment.yml
  modules/nf-core/gprofiler2/gost/main.nf
  modules/nf-core/gprofiler2/gost/meta.yml
  modules/nf-core/gprofiler2/gost/templates/gprofiler2_gost.R
  tests/config/pytest_modules.yml
  tests/modules/nf-core/gprofiler2/gost/main.nf
  tests/modules/nf-core/gprofiler2/gost/nextflow.config
  tests/modules/nf-core/gprofiler2/gost/test.yml
Labels: Ready for Review

#4336 Add meta map and update process label to mitohifi/findmitoreference
  modules/nf-core/mitohifi/findmitoreference/environment.yml
  modules/nf-core/mitohifi/findmitoreference/main.nf
  tests/modules/nf-core/mitohifi/findmitoreference/main.nf
Labels: Ready for Review

#4348 add mudskipper/index and mudskipper/bulk
  modules/nf-core/mudskipper/bulk/environment.yml
  modules/nf-core/mudskipper/bulk/main.nf
  modules/nf-core/mudskipper/bulk/meta.yml
  modules/nf-core/mudskipper/index/environment.yml
  modules/nf-core/mudskipper/index/main.nf
  modules/nf-core/mudskipper/index/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/mudskipper/bulk/main.nf
  tests/modules/nf-core/mudskipper/bulk/nextflow.config
  tests/modules/nf-core/mudskipper/bulk/test.yml
  tests/modules/nf-core/mudskipper/index/main.nf
  tests/modules/nf-core/mudskipper/index/nextflow.config
  tests/modules/nf-core/mudskipper/index/test.yml
Labels: new module, Ready for Review

#4322 Patch hifiasm
  modules/nf-core/hifiasm/main.nf
  modules/nf-core/hifiasm/meta.yml
  tests/modules/nf-core/hifiasm/test.yml
Labels: Ready for Review

#4352 Update version
  modules/nf-core/hifiasm/environment.yml
  modules/nf-core/hifiasm/main.nf
  tests/modules/nf-core/hifiasm/test.yml
Labels: Ready for Review

#4138 Feat/bam_stats_samtools subw nf-test
  subworkflows/nf-core/bam_stats_samtools/tests/main.nf.test
  subworkflows/nf-core/bam_stats_samtools/tests/main.nf.test.snap
  subworkflows/nf-core/bam_stats_samtools/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4354 Update MAFFT module with new arguments and tests
  modules/nf-core/mafft/main.nf
  modules/nf-core/mafft/meta.yml
  modules/nf-core/mafft/tests/main.nf.test
  modules/nf-core/mafft/tests/main.nf.test.snap
  modules/nf-core/mafft/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: nf-test

#4368 Mmseqs createdb and linclust container version upgrade + nf-tests
  modules/nf-core/mmseqs/createdb/environment.yml
  modules/nf-core/mmseqs/createdb/main.nf
  modules/nf-core/mmseqs/createdb/meta.yml
  modules/nf-core/mmseqs/createdb/tests/main.nf.test
  modules/nf-core/mmseqs/createdb/tests/main.nf.test.snap
  modules/nf-core/mmseqs/createdb/tests/tags.yml
  modules/nf-core/mmseqs/linclust/environment.yml
  modules/nf-core/mmseqs/linclust/main.nf
  modules/nf-core/mmseqs/linclust/meta.yml
  modules/nf-core/mmseqs/linclust/tests/main.nf.test
  modules/nf-core/mmseqs/linclust/tests/main.nf.test.snap
  modules/nf-core/mmseqs/linclust/tests/nextflow.config
  modules/nf-core/mmseqs/linclust/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4201 Convert Kraken2 tests to nf-test
  modules/nf-core/kraken2/kraken2/tests/main.nf.test
  modules/nf-core/kraken2/kraken2/tests/main.nf.test.snap
  modules/nf-core/kraken2/kraken2/tests/tags.yml
  tests/config/pytest_modules.yml
Labels: Ready for Review, nf-test

#4364 Fix gprofiler2
  modules/nf-core/gprofiler2/gost/environment.yml
  modules/nf-core/gprofiler2/gost/meta.yml
  modules/nf-core/gprofiler2/gost/templates/gprofiler2_gost.R
Labels: ready to merge

#4346 Update DeepARG
  modules/nf-core/deeparg/downloaddata/environment.yml
  modules/nf-core/deeparg/downloaddata/main.nf
  modules/nf-core/deeparg/downloaddata/meta.yml
  modules/nf-core/deeparg/predict/environment.yml
  modules/nf-core/deeparg/predict/main.nf
  modules/nf-core/deeparg/predict/meta.yml
  tests/modules/nf-core/deeparg/downloaddata/test.yml
  tests/modules/nf-core/deeparg/predict/test.yml
Labels: update module, Ready for Review

#4400 Feat/rseqc/junctionannotation nf test
  modules/nf-core/rseqc/junctionannotation/tests/main.nf.test
  modules/nf-core/rseqc/junctionannotation/tests/main.nf.test.snap
  modules/nf-core/rseqc/junctionannotation/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/rseqc/junctionannotation/main.nf
  tests/modules/nf-core/rseqc/junctionannotation/nextflow.config
  tests/modules/nf-core/rseqc/junctionannotation/test.yml
Labels: nf-test

#4396 Backsub version update and nf-test
  .github/workflows/test.yml
  modules/nf-core/backsub/environment.yml
  modules/nf-core/backsub/main.nf
  modules/nf-core/backsub/meta.yml
  modules/nf-core/backsub/tests/main.nf.test
  modules/nf-core/backsub/tests/main.nf.test.snap
  modules/nf-core/backsub/tests/nextflow.config
  modules/nf-core/backsub/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/backsub/main.nf
  tests/modules/nf-core/backsub/nextflow.config
  tests/modules/nf-core/backsub/test.yml
Labels: imaging, nf-test

#4399 Nftest reseqc innerdistance
  modules/nf-core/rseqc/innerdistance/meta.yml
  modules/nf-core/rseqc/innerdistance/tests/main.nf.test
  modules/nf-core/rseqc/innerdistance/tests/main.nf.test.snap
  modules/nf-core/rseqc/innerdistance/tests/nextflow.config
  modules/nf-core/rseqc/innerdistance/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/rseqc/innerdistance/main.nf
  tests/modules/nf-core/rseqc/innerdistance/test.yml
Labels: nf-test

#4404 rseqc/tin nf-test, snapshot and rm pytest
  modules/nf-core/rseqc/tin/tests/main.nf.test
  modules/nf-core/rseqc/tin/tests/main.nf.test.snap
  modules/nf-core/rseqc/tin/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/rseqc/tin/main.nf
  tests/modules/nf-core/rseqc/tin/nextflow.config
  tests/modules/nf-core/rseqc/tin/test.yml
Labels: nf-test

#4401 rseqc/junctionsaturation nf-test snapshot and rm pytest
  modules/nf-core/rseqc/junctionsaturation/tests/main.nf.test
  modules/nf-core/rseqc/junctionsaturation/tests/main.nf.test.snap
  modules/nf-core/rseqc/junctionsaturation/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/rseqc/junctionsaturation/main.nf
  tests/modules/nf-core/rseqc/junctionsaturation/nextflow.config
  tests/modules/nf-core/rseqc/junctionsaturation/test.yml
Labels: nf-test

#4403 rseqc/readduplication nf-test, snapshot and rm pytest
  modules/nf-core/rseqc/readduplication/meta.yml
  modules/nf-core/rseqc/readduplication/tests/main.nf.test
  modules/nf-core/rseqc/readduplication/tests/main.nf.test.snap
  modules/nf-core/rseqc/readduplication/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/rseqc/readduplication/main.nf
  tests/modules/nf-core/rseqc/readduplication/nextflow.config
  tests/modules/nf-core/rseqc/readduplication/test.yml
Labels: nf-test

#4397 Nftest reseqc inferexperiment
  modules/nf-core/rseqc/inferexperiment/meta.yml
  modules/nf-core/rseqc/inferexperiment/tests/main.nf.test
  modules/nf-core/rseqc/inferexperiment/tests/main.nf.test.snap
  modules/nf-core/rseqc/inferexperiment/tests/nextflow.config
  modules/nf-core/rseqc/inferexperiment/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/rseqc/bamstat/main.nf
  tests/modules/nf-core/rseqc/bamstat/test.yml
  tests/modules/nf-core/rseqc/inferexperiment/main.nf
  tests/modules/nf-core/rseqc/inferexperiment/nextflow.config
  tests/modules/nf-core/rseqc/inferexperiment/test.yml
Labels: nf-test

#4402 rseqc/readdistribution nf-test, snapshot and rm pytest
  modules/nf-core/rseqc/readdistribution/tests/main.nf.test
  modules/nf-core/rseqc/readdistribution/tests/main.nf.test.snap
  modules/nf-core/rseqc/readdistribution/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/rseqc/readdistribution/main.nf
  tests/modules/nf-core/rseqc/readdistribution/nextflow.config
  tests/modules/nf-core/rseqc/readdistribution/test.yml
Labels: nf-test

#4398 add nf-test for preseq/lcextrap
  modules/nf-core/preseq/lcextrap/tests/main.nf.test
  modules/nf-core/preseq/lcextrap/tests/main.nf.test.snap
  modules/nf-core/preseq/lcextrap/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/config/test_data.config
  tests/modules/nf-core/preseq/lcextrap/main.nf
  tests/modules/nf-core/preseq/lcextrap/nextflow.config
  tests/modules/nf-core/preseq/lcextrap/test.yml
Labels: nf-test

#4319 Add positions and exclude-positions flags for vcftools
  modules/nf-core/vcftools/main.nf
  modules/nf-core/vcftools/meta.yml
Labels: update module, Ready for Review

#4412 abacas nf-test snapshot
  modules/nf-core/abacas/meta.yml
  modules/nf-core/abacas/tests/main.nf.test
  modules/nf-core/abacas/tests/main.nf.test.snap
  modules/nf-core/abacas/tests/nextflow.config
  modules/nf-core/abacas/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/abacas/main.nf
  tests/modules/nf-core/abacas/test.yml
Labels: nf-test

#4425 mmseqs remove suffix correctly + version-bump
  modules/nf-core/mmseqs/cluster/environment.yml
  modules/nf-core/mmseqs/cluster/main.nf
  modules/nf-core/mmseqs/cluster/meta.yml
  modules/nf-core/mmseqs/createindex/environment.yml
  modules/nf-core/mmseqs/createindex/main.nf
  modules/nf-core/mmseqs/createindex/meta.yml
  modules/nf-core/mmseqs/createindex/tests/main.nf.test
  modules/nf-core/mmseqs/createindex/tests/main.nf.test.snap
  modules/nf-core/mmseqs/createindex/tests/nextflow.config
  modules/nf-core/mmseqs/createindex/tests/tags.yml
  modules/nf-core/mmseqs/createtsv/environment.yml
  modules/nf-core/mmseqs/createtsv/main.nf
  modules/nf-core/mmseqs/createtsv/meta.yml
  modules/nf-core/mmseqs/databases/environment.yml
  modules/nf-core/mmseqs/databases/main.nf
  modules/nf-core/mmseqs/databases/meta.yml
  modules/nf-core/mmseqs/easysearch/environment.yml
  modules/nf-core/mmseqs/easysearch/main.nf
  modules/nf-core/mmseqs/easysearch/meta.yml
  modules/nf-core/mmseqs/linclust/main.nf
  modules/nf-core/mmseqs/search/environment.yml
  modules/nf-core/mmseqs/search/main.nf
  modules/nf-core/mmseqs/search/meta.yml
  modules/nf-core/mmseqs/tsv2exprofiledb/environment.yml
  modules/nf-core/mmseqs/tsv2exprofiledb/meta.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/mmseqs/createdb/main.nf
  tests/modules/nf-core/mmseqs/createdb/nextflow.config
  tests/modules/nf-core/mmseqs/createdb/test.yml
  tests/modules/nf-core/mmseqs/createindex/main.nf
  tests/modules/nf-core/mmseqs/createindex/nextflow.config
  tests/modules/nf-core/mmseqs/createindex/test.yml
  tests/modules/nf-core/mmseqs/linclust/main.nf
  tests/modules/nf-core/mmseqs/linclust/nextflow.config
  tests/modules/nf-core/mmseqs/linclust/test.yml
Labels: bug, nf-test

#4441 nf-test for module amplify/predict
  modules/nf-core/amplify/predict/meta.yml
  modules/nf-core/amplify/predict/tests/main.nf.test
  modules/nf-core/amplify/predict/tests/main.nf.test.snap
  modules/nf-core/amplify/predict/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/amplify/predict/main.nf
  tests/modules/nf-core/amplify/predict/nextflow.config
  tests/modules/nf-core/amplify/predict/test.yml
Labels: nf-test

#4436 meta map and nf-test for Aria2
  modules/nf-core/aria2/main.nf
  modules/nf-core/aria2/meta.yml
  modules/nf-core/aria2/tests/main.nf.test
  modules/nf-core/aria2/tests/main.nf.test.snap
  modules/nf-core/aria2/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/aria2/main.nf
  tests/modules/nf-core/aria2/nextflow.config
  tests/modules/nf-core/aria2/test.yml
Labels: enhancement, Ready for Review, nf-test

#4413 bam_rseqc nf-test and make sub-wf emit rseqc subtool channels
  subworkflows/nf-core/bam_rseqc/main.nf
  subworkflows/nf-core/bam_rseqc/tests/main.nf.test
  subworkflows/nf-core/bam_rseqc/tests/main.nf.test.snap
  subworkflows/nf-core/bam_rseqc/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/bam_rseqc/main.nf
  tests/subworkflows/nf-core/bam_rseqc/nextflow.config
  tests/subworkflows/nf-core/bam_rseqc/test.yml
Labels: nf-test

#4416 bedgraph_bedclip_bedgraphtobigwig nf-test snapshot
  subworkflows/nf-core/bedgraph_bedclip_bedgraphtobigwig/tests/main.nf.test
  subworkflows/nf-core/bedgraph_bedclip_bedgraphtobigwig/tests/main.nf.test.snap
  subworkflows/nf-core/bedgraph_bedclip_bedgraphtobigwig/tests/nextflow.config
  subworkflows/nf-core/bedgraph_bedclip_bedgraphtobigwig/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/bedgraph_bedclip_bedgraphtobigwig/main.nf
  tests/subworkflows/nf-core/bedgraph_bedclip_bedgraphtobigwig/test.yml
Labels: nf-test

#4417 fastq_fastqc_umitools_fastp nf-test snapshot
  subworkflows/nf-core/fastq_fastqc_umitools_fastp/tests/main.nf.test
  subworkflows/nf-core/fastq_fastqc_umitools_fastp/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_fastqc_umitools_fastp/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/fastq_fastqc_umitools_fastp/main.nf
  tests/subworkflows/nf-core/fastq_fastqc_umitools_fastp/nextflow.config
  tests/subworkflows/nf-core/fastq_fastqc_umitools_fastp/test.yml
Labels: nf-test

#4426 nf-test clustalo/align
  modules/nf-core/clustalo/align/meta.yml
  modules/nf-core/clustalo/align/tests/main.nf.test
  modules/nf-core/clustalo/align/tests/main.nf.test.snap
  modules/nf-core/clustalo/align/tests/nextflow.config
  modules/nf-core/clustalo/align/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/clustalo/align/main.nf
  tests/modules/nf-core/clustalo/align/nextflow.config
  tests/modules/nf-core/clustalo/align/test.yml
Labels: nf-test

#4454 nf-test muscle5/super5
  modules/nf-core/muscle5/super5/main.nf
  modules/nf-core/muscle5/super5/meta.yml
  modules/nf-core/muscle5/super5/tests/main.nf.test
  modules/nf-core/muscle5/super5/tests/main.nf.test.snap
  modules/nf-core/muscle5/super5/tests/nextflow.config
  modules/nf-core/muscle5/super5/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/muscle5/super5/main.nf
  tests/modules/nf-core/muscle5/super5/nextflow.config
  tests/modules/nf-core/muscle5/super5/test.yml
Labels: nf-test

#4410 new module: svanalyzer/svbenchmark
  .github/workflows/test.yml
  modules/nf-core/svanalyzer/svbenchmark/environment.yml
  modules/nf-core/svanalyzer/svbenchmark/main.nf
  modules/nf-core/svanalyzer/svbenchmark/meta.yml
  modules/nf-core/svanalyzer/svbenchmark/tests/main.nf.test
  modules/nf-core/svanalyzer/svbenchmark/tests/main.nf.test.snap
  modules/nf-core/svanalyzer/svbenchmark/tests/tags.yml
Labels: nf-test

#4486 nf-test famsa/align
  modules/nf-core/famsa/align/meta.yml
  modules/nf-core/famsa/align/tests/main.nf.test
  modules/nf-core/famsa/align/tests/main.nf.test.snap
  modules/nf-core/famsa/align/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/famsa/align/main.nf
  tests/modules/nf-core/famsa/align/nextflow.config
  tests/modules/nf-core/famsa/align/test.yml
Labels: Ready for Review, nf-test

#4456 4450 nftest cdhit
  modules/nf-core/cdhit/cdhit/meta.yml
  modules/nf-core/cdhit/cdhit/tests/main.nf.test
  modules/nf-core/cdhit/cdhit/tests/main.nf.test.snap
  modules/nf-core/cdhit/cdhit/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/cdhit/cdhit/main.nf
  tests/modules/nf-core/cdhit/cdhit/nextflow.config
  tests/modules/nf-core/cdhit/cdhit/test.yml
Labels: hackathon2023, nf-test

#4467 add nf-test for mudskipper/index and mudskipper/bulk
  modules/nf-core/mudskipper/bulk/tests/main.nf.test
  modules/nf-core/mudskipper/bulk/tests/main.nf.test.snap
  modules/nf-core/mudskipper/bulk/tests/nextflow.config
  modules/nf-core/mudskipper/bulk/tests/tags.yml
  modules/nf-core/mudskipper/index/tests/main.nf.test
  modules/nf-core/mudskipper/index/tests/main.nf.test.snap
  modules/nf-core/mudskipper/index/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/mudskipper/bulk/main.nf
  tests/modules/nf-core/mudskipper/bulk/nextflow.config
  tests/modules/nf-core/mudskipper/bulk/test.yml
  tests/modules/nf-core/mudskipper/index/main.nf
  tests/modules/nf-core/mudskipper/index/nextflow.config
  tests/modules/nf-core/mudskipper/index/test.yml
Labels: nf-test
