Repository nf-core/modules, pull requests merged in 2024-01, with the labels that each got.

#4621 NEW MODULES: pharokka/installdatabases & pharokka/pharokka
  modules/nf-core/pharokka/installdatabases/environment.yml
  modules/nf-core/pharokka/installdatabases/main.nf
  modules/nf-core/pharokka/installdatabases/meta.yml
  modules/nf-core/pharokka/installdatabases/tests/main.nf.test
  modules/nf-core/pharokka/installdatabases/tests/main.nf.test.snap
  modules/nf-core/pharokka/installdatabases/tests/tags.yml
  modules/nf-core/pharokka/pharokka/environment.yml
  modules/nf-core/pharokka/pharokka/main.nf
  modules/nf-core/pharokka/pharokka/meta.yml
  modules/nf-core/pharokka/pharokka/tests/main.nf.test
  modules/nf-core/pharokka/pharokka/tests/main.nf.test.snap
  modules/nf-core/pharokka/pharokka/tests/nextflow.config
  modules/nf-core/pharokka/pharokka/tests/tags.yml
Labels: new module, nf-test

#4655 agat/spstatistics stub, nf-test, snap
  modules/nf-core/agat/spstatistics/main.nf
  modules/nf-core/agat/spstatistics/meta.yml
  modules/nf-core/agat/spstatistics/tests/main.nf.test
  modules/nf-core/agat/spstatistics/tests/main.nf.test.snap
  modules/nf-core/agat/spstatistics/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/agat/spstatistics/main.nf
  tests/modules/nf-core/agat/spstatistics/nextflow.config
  tests/modules/nf-core/agat/spstatistics/test.yml
Labels: Ready for Review, nf-test

#4599 Pyrodigal migrate to nf-test
  modules/nf-core/pyrodigal/environment.yml
  modules/nf-core/pyrodigal/main.nf
  modules/nf-core/pyrodigal/meta.yml
  modules/nf-core/pyrodigal/tests/main.nf.test
  modules/nf-core/pyrodigal/tests/main.nf.test.snap
  modules/nf-core/pyrodigal/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/pyrodigal/main.nf
  tests/modules/nf-core/pyrodigal/nextflow.config
  tests/modules/nf-core/pyrodigal/test.yml
Labels: nf-test

#4676 Add new module openms/idripper
  modules/nf-core/openms/idripper/environment.yml
  modules/nf-core/openms/idripper/main.nf
  modules/nf-core/openms/idripper/meta.yml
  modules/nf-core/openms/idripper/tests/main.nf.test
  modules/nf-core/openms/idripper/tests/main.nf.test.snap
  modules/nf-core/openms/idripper/tests/nextflow.config
  modules/nf-core/openms/idripper/tests/tags.yml
Labels: new module, nf-test

#4678 Add new module openms/idscoreswitcher
  modules/nf-core/openms/idscoreswitcher/environment.yml
  modules/nf-core/openms/idscoreswitcher/main.nf
  modules/nf-core/openms/idscoreswitcher/meta.yml
  modules/nf-core/openms/idscoreswitcher/tests/main.nf.test
  modules/nf-core/openms/idscoreswitcher/tests/main.nf.test.snap
  modules/nf-core/openms/idscoreswitcher/tests/nextflow.config
  modules/nf-core/openms/idscoreswitcher/tests/tags.yml
Labels: new module, nf-test

#4684 Foldcomp
  modules/nf-core/foldcomp/compress/environment.yml
  modules/nf-core/foldcomp/compress/main.nf
  modules/nf-core/foldcomp/compress/meta.yml
  modules/nf-core/foldcomp/compress/tests/main.nf.test
  modules/nf-core/foldcomp/compress/tests/main.nf.test.snap
  modules/nf-core/foldcomp/compress/tests/tags.yml
Labels: new module, Ready for Review, nf-test

#4688 Added nf-tests to mash/sketch and mash/screen
  modules/nf-core/mash/screen/main.nf
  modules/nf-core/mash/screen/tests/main.nf.test
  modules/nf-core/mash/screen/tests/main.nf.test.snap
  modules/nf-core/mash/screen/tests/tags.yml
  modules/nf-core/mash/sketch/main.nf
  modules/nf-core/mash/sketch/tests/main.nf.test
  modules/nf-core/mash/sketch/tests/main.nf.test.snap
  modules/nf-core/mash/sketch/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/mash/screen/main.nf
  tests/modules/nf-core/mash/screen/nextflow.config
  tests/modules/nf-core/mash/screen/test.yml
  tests/modules/nf-core/mash/sketch/main.nf
  tests/modules/nf-core/mash/sketch/nextflow.config
  tests/modules/nf-core/mash/sketch/test.yml
Labels: Ready for Review, nf-test

#4700 foldcomp decompress
  modules/nf-core/foldcomp/decompress/environment.yml
  modules/nf-core/foldcomp/decompress/main.nf
  modules/nf-core/foldcomp/decompress/meta.yml
  modules/nf-core/foldcomp/decompress/tests/main.nf.test
  modules/nf-core/foldcomp/decompress/tests/main.nf.test.snap
  modules/nf-core/foldcomp/decompress/tests/tags.yml
Labels: new module, Ready for Review, nf-test

#4638 Added fasta_explore_search_plot_tidk subworkflow
  subworkflows/nf-core/fasta_explore_search_plot_tidk/main.nf
  subworkflows/nf-core/fasta_explore_search_plot_tidk/meta.yml
  subworkflows/nf-core/fasta_explore_search_plot_tidk/tests/main.nf.test
  subworkflows/nf-core/fasta_explore_search_plot_tidk/tests/main.nf.test.snap
  subworkflows/nf-core/fasta_explore_search_plot_tidk/tests/nextflow.config
  subworkflows/nf-core/fasta_explore_search_plot_tidk/tests/tags.yml
Labels: Ready for Review

#4716 bugfix: the file was not compressed
  modules/nf-core/samtools/fasta/main.nf
  tests/modules/nf-core/samtools/fasta/test.yml
Labels: bug

#4727 Support large databases like NT
  modules/nf-core/blast/blastn/main.nf
  modules/nf-core/blast/blastn/tests/main.nf.test
  modules/nf-core/blast/tblastn/main.nf
  modules/nf-core/blast/tblastn/tests/main.nf.test
Labels: bug, update module, Ready for Review

#4720 Version bumped TRINITY, added nf-tests and stub
  modules/nf-core/trinity/environment.yml
  modules/nf-core/trinity/main.nf
  modules/nf-core/trinity/meta.yml
  modules/nf-core/trinity/tests/main.nf.test
  modules/nf-core/trinity/tests/main.nf.test.snap
  modules/nf-core/trinity/tests/nextflow.config
  modules/nf-core/trinity/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/trinity/main.nf
  tests/modules/nf-core/trinity/nextflow.config
  tests/modules/nf-core/trinity/test.yml
Labels: Ready for Review

#4230 Allow cat_cat to retain double file extensions for .gz files
  modules/nf-core/cat/cat/main.nf
  modules/nf-core/cat/cat/tests/main.nf.test
  modules/nf-core/cat/cat/tests/main.nf.test.snap
Labels: bug, enhancement, good first issue, update module, Ready for Review

#4748 Updated instrain modules and added nf-tests
  modules/nf-core/instrain/compare/main.nf
  modules/nf-core/instrain/compare/meta.yml
  modules/nf-core/instrain/compare/tests/main.nf.test
  modules/nf-core/instrain/compare/tests/main.nf.test.snap
  modules/nf-core/instrain/compare/tests/nextflow.config
  modules/nf-core/instrain/compare/tests/tags.yml
  modules/nf-core/instrain/profile/main.nf
  modules/nf-core/instrain/profile/meta.yml
  modules/nf-core/instrain/profile/tests/main.nf.test
  modules/nf-core/instrain/profile/tests/main.nf.test.snap
  modules/nf-core/instrain/profile/tests/nextflow.config
  modules/nf-core/instrain/profile/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/instrain/compare/main.nf
  tests/modules/nf-core/instrain/compare/nextflow.config
  tests/modules/nf-core/instrain/compare/test.yml
  tests/modules/nf-core/instrain/profile/main.nf
  tests/modules/nf-core/instrain/profile/nextflow.config
  tests/modules/nf-core/instrain/profile/test.yml
Labels: enhancement, Ready for Review, nf-test

#4648 admixture stub, nf-test & snapshot n update meta.yml
  modules/nf-core/admixture/main.nf
  modules/nf-core/admixture/meta.yml
  modules/nf-core/admixture/tests/main.nf.test
  modules/nf-core/admixture/tests/main.nf.test.snap
  modules/nf-core/admixture/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/admixture/main.nf
  tests/modules/nf-core/admixture/nextflow.config
  tests/modules/nf-core/admixture/test.yml
Labels: Ready for Review, nf-test

#4656 agat/convertspgxf2gxf stub, nf-test, snapshot
  modules/nf-core/agat/convertspgxf2gxf/main.nf
  modules/nf-core/agat/convertspgxf2gxf/tests/main.nf.test
  modules/nf-core/agat/convertspgxf2gxf/tests/main.nf.test.snap
  modules/nf-core/agat/convertspgxf2gxf/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/agat/convertspgxf2gxf/main.nf
  tests/modules/nf-core/agat/convertspgxf2gxf/nextflow.config
  tests/modules/nf-core/agat/convertspgxf2gxf/test.yml
Labels: Ready for Review, nf-test

#4674 Added nf-tests to geNomad modules
  modules/nf-core/genomad/download/environment.yml
  modules/nf-core/genomad/download/main.nf
  modules/nf-core/genomad/download/meta.yml
  modules/nf-core/genomad/download/tests/main.nf.test
  modules/nf-core/genomad/download/tests/main.nf.test.snap
  modules/nf-core/genomad/download/tests/nextflow.config
  modules/nf-core/genomad/download/tests/tags.yml
  modules/nf-core/genomad/endtoend/environment.yml
  modules/nf-core/genomad/endtoend/main.nf
  modules/nf-core/genomad/endtoend/meta.yml
  modules/nf-core/genomad/endtoend/tests/main.nf.test
  modules/nf-core/genomad/endtoend/tests/main.nf.test.snap
  modules/nf-core/genomad/endtoend/tests/nextflow.config
  modules/nf-core/genomad/endtoend/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/genomad/download/main.nf
  tests/modules/nf-core/genomad/download/nextflow.config
  tests/modules/nf-core/genomad/download/test.yml
  tests/modules/nf-core/genomad/endtoend/main.nf
  tests/modules/nf-core/genomad/endtoend/nextflow.config
  tests/modules/nf-core/genomad/endtoend/test.yml
Labels: nf-test

#4577 Added nf-tests to checkv modules
  modules/nf-core/checkv/downloaddatabase/main.nf
  modules/nf-core/checkv/downloaddatabase/meta.yml
  modules/nf-core/checkv/downloaddatabase/tests/main.nf.test
  modules/nf-core/checkv/downloaddatabase/tests/main.nf.test.snap
  modules/nf-core/checkv/downloaddatabase/tests/nextflow.config
  modules/nf-core/checkv/downloaddatabase/tests/tags.yml
  modules/nf-core/checkv/endtoend/main.nf
  modules/nf-core/checkv/endtoend/meta.yml
  modules/nf-core/checkv/endtoend/tests/main.nf.test
  modules/nf-core/checkv/endtoend/tests/main.nf.test.snap
  modules/nf-core/checkv/endtoend/tests/tags.yml
  modules/nf-core/checkv/updatedatabase/main.nf
  modules/nf-core/checkv/updatedatabase/meta.yml
  modules/nf-core/checkv/updatedatabase/tests/main.nf.test
  modules/nf-core/checkv/updatedatabase/tests/main.nf.test.snap
  modules/nf-core/checkv/updatedatabase/tests/tags.yml
  tests/config/pytest_modules.yml
  tests/modules/nf-core/checkv/downloaddatabase/main.nf
  tests/modules/nf-core/checkv/downloaddatabase/nextflow.config
  tests/modules/nf-core/checkv/downloaddatabase/test.yml
  tests/modules/nf-core/checkv/endtoend/main.nf
  tests/modules/nf-core/checkv/endtoend/nextflow.config
  tests/modules/nf-core/checkv/endtoend/test.yml
  tests/modules/nf-core/checkv/updatedatabase/main.nf
  tests/modules/nf-core/checkv/updatedatabase/nextflow.config
  tests/modules/nf-core/checkv/updatedatabase/test.yml
Labels: nf-test

#4745 Added gt/ltrharvest
  modules/nf-core/gt/ltrharvest/environment.yml
  modules/nf-core/gt/ltrharvest/main.nf
  modules/nf-core/gt/ltrharvest/meta.yml
  modules/nf-core/gt/ltrharvest/tests/main.nf.test
  modules/nf-core/gt/ltrharvest/tests/main.nf.test.snap
  modules/nf-core/gt/ltrharvest/tests/nextflow.config
  modules/nf-core/gt/ltrharvest/tests/nextflow.extended.config
  modules/nf-core/gt/ltrharvest/tests/nextflow.extended.custom.config
  modules/nf-core/gt/ltrharvest/tests/tags.yml
Labels: Ready for Review

#4749 Trinity: Now handling multiple reads
  modules/nf-core/trinity/main.nf
  modules/nf-core/trinity/meta.yml
  modules/nf-core/trinity/tests/main.nf.test
Labels: Ready for Review

#4733 Add new module thermorawfileparser
  modules/nf-core/thermorawfileparser/environment.yml
  modules/nf-core/thermorawfileparser/main.nf
  modules/nf-core/thermorawfileparser/meta.yml
  modules/nf-core/thermorawfileparser/tests/main.nf.test
  modules/nf-core/thermorawfileparser/tests/main.nf.test.snap
  modules/nf-core/thermorawfileparser/tests/tags.yml
  tests/config/test_data.config
Labels: new module, Ready for Review, nf-test

#4430 Correct antigen analysis in cellranger multi
  modules/nf-core/cellranger/multi/environment.yml
  modules/nf-core/cellranger/multi/main.nf
  modules/nf-core/cellranger/multi/meta.yml
  tests/modules/nf-core/cellranger/multi/main.nf
  tests/modules/nf-core/cellranger/multi/nextflow.config
  tests/modules/nf-core/cellranger/multi/test.yml
Labels: bug

#4644 feat: add resfinder run module
  modules/nf-core/resfinder/run/environment.yml
  modules/nf-core/resfinder/run/main.nf
  modules/nf-core/resfinder/run/meta.yml
  modules/nf-core/resfinder/run/tests/main.nf.test
  modules/nf-core/resfinder/run/tests/main.nf.test.snap
  modules/nf-core/resfinder/run/tests/nextflow.config
  modules/nf-core/resfinder/run/tests/tags.yml
  tests/config/test_data.config
Labels: new module, Ready for Review, nf-test

#4592 OATK module implementation
  modules/nf-core/oatk/environment.yml
  modules/nf-core/oatk/main.nf
  modules/nf-core/oatk/meta.yml
  modules/nf-core/oatk/tests/main.nf.test
  modules/nf-core/oatk/tests/main.nf.test.snap
  modules/nf-core/oatk/tests/nextflow.config
  modules/nf-core/oatk/tests/tags.yml
  tests/config/test_data.config
Labels: enhancement, Ready for Review
