Repository nf-core/modules, pull requests merged in 2025-05, with the labels that each got.

#7833 Added helitronscanner/draw
  modules/nf-core/helitronscanner/draw/environment.yml
  modules/nf-core/helitronscanner/draw/main.nf
  modules/nf-core/helitronscanner/draw/meta.yml
  modules/nf-core/helitronscanner/draw/tests/main.nf.test
  modules/nf-core/helitronscanner/draw/tests/main.nf.test.snap
  modules/nf-core/helitronscanner/draw/tests/nextflow.config
Labels: Ready for Review

#7831 Added tesorter
  modules/nf-core/tesorter/environment.yml
  modules/nf-core/tesorter/main.nf
  modules/nf-core/tesorter/meta.yml
  modules/nf-core/tesorter/tests/main.nf.test
  modules/nf-core/tesorter/tests/main.nf.test.snap
  modules/nf-core/tesorter/tests/nextflow.config
Labels: Ready for Review

#8357 Migrate `khmer/normalizebymedian` to nf-test
  modules/nf-core/khmer/normalizebymedian/main.nf
  modules/nf-core/khmer/normalizebymedian/meta.yml
  modules/nf-core/khmer/normalizebymedian/tests/main.nf.test
  modules/nf-core/khmer/normalizebymedian/tests/main.nf.test.snap
  modules/nf-core/khmer/normalizebymedian/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/khmer/normalizebymedian/main.nf
  tests/modules/nf-core/khmer/normalizebymedian/nextflow.config
  tests/modules/nf-core/khmer/normalizebymedian/test.yml
Labels: nf-test

#8408 Migrate `LEEHOM` to nf-test
  modules/nf-core/leehom/main.nf
  modules/nf-core/leehom/tests/main.nf.test
  modules/nf-core/leehom/tests/main.nf.test.snap
  modules/nf-core/leehom/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/leehom/main.nf
  tests/modules/nf-core/leehom/nextflow.config
  tests/modules/nf-core/leehom/test.yml
Labels: nf-test

#8416 Update container version and snapshot
  modules/nf-core/fcsgx/rungx/environment.yml
  modules/nf-core/fcsgx/rungx/main.nf
  modules/nf-core/fcsgx/rungx/tests/main.nf.test.snap
Labels: update module, Ready for Review

#8436 Migrate `megan/daa2info` nf-test
  modules/nf-core/megan/daa2info/environment.yml
  modules/nf-core/megan/daa2info/main.nf
  modules/nf-core/megan/daa2info/tests/main.nf.test
  modules/nf-core/megan/daa2info/tests/main.nf.test.snap
  modules/nf-core/megan/daa2info/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/megan/daa2info/main.nf
  tests/modules/nf-core/megan/daa2info/nextflow.config
  tests/modules/nf-core/megan/daa2info/test.yml
Labels: nf-test

#8444 Migrate `metaeuk/easypredict` to nf-test
  modules/nf-core/metaeuk/easypredict/main.nf
  modules/nf-core/metaeuk/easypredict/tests/main.nf.test
  modules/nf-core/metaeuk/easypredict/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/modules/nf-core/metaeuk/easypredict/main.nf
  tests/modules/nf-core/metaeuk/easypredict/nextflow.config
  tests/modules/nf-core/metaeuk/easypredict/test.yml
Labels: nf-test

#8445 Migrate `metaphlan3/mergemetaphlantables` to nf-test
  modules/nf-core/metaphlan3/mergemetaphlantables/main.nf
  modules/nf-core/metaphlan3/mergemetaphlantables/tests/main.nf.test
  modules/nf-core/metaphlan3/mergemetaphlantables/tests/main.nf.test.snap
  modules/nf-core/metaphlan3/mergemetaphlantables/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/metaphlan3/mergemetaphlantables/main.nf
  tests/modules/nf-core/metaphlan3/mergemetaphlantables/nextflow.config
  tests/modules/nf-core/metaphlan3/mergemetaphlantables/test.yml
Labels: nf-test

#8456 catpack/bins: Add bin_suffix as input
  modules/nf-core/catpack/bins/main.nf
  modules/nf-core/catpack/bins/meta.yml
  modules/nf-core/catpack/bins/tests/main.nf.test
  modules/nf-core/catpack/summarise/tests/main.nf.test
Labels: Ready for Review

#8474 Migrate `nanomonsv/parse` to nf-test
  modules/nf-core/nanomonsv/parse/environment.yml
  modules/nf-core/nanomonsv/parse/main.nf
  modules/nf-core/nanomonsv/parse/tests/main.nf.test
  modules/nf-core/nanomonsv/parse/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/modules/nf-core/nanomonsv/parse/main.nf
  tests/modules/nf-core/nanomonsv/parse/nextflow.config
  tests/modules/nf-core/nanomonsv/parse/test.yml
Labels: nf-test

#8477 Migrate `paragraph/multigrmpy` to nf-test
  modules/nf-core/paragraph/multigrmpy/main.nf
  modules/nf-core/paragraph/multigrmpy/tests/main.nf.test
  modules/nf-core/paragraph/multigrmpy/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/modules/nf-core/paragraph/multigrmpy/main.nf
  tests/modules/nf-core/paragraph/multigrmpy/nextflow.config
  tests/modules/nf-core/paragraph/multigrmpy/test.yml
Labels: nf-test

#8481 Fix genome BAM dedup log reused for transcriptome dedup
  subworkflows/nf-core/bam_dedup_umi/main.nf
Labels: bug, Ready for Review

#8161 stub and nf-test created for raxmlng
  modules/nf-core/raxmlng/environment.yml
  modules/nf-core/raxmlng/main.nf
  modules/nf-core/raxmlng/meta.yml
  modules/nf-core/raxmlng/tests/main.nf.test
  modules/nf-core/raxmlng/tests/main.nf.test.snap
  modules/nf-core/raxmlng/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/raxmlng/main.nf
  tests/modules/nf-core/raxmlng/nextflow.config
  tests/modules/nf-core/raxmlng/test.yml
  tests/modules/nf-core/roary/main.nf
  tests/modules/nf-core/roary/nextflow.config
  tests/modules/nf-core/roary/test.yml
Labels: nf-test

#6526 Added nf-test for hmtnote/annotate
  modules/nf-core/hmtnote/annotate/environment.yml
  modules/nf-core/hmtnote/annotate/tests/main.nf.test
  modules/nf-core/hmtnote/annotate/tests/main.nf.test.snap
  modules/nf-core/hmtnote/annotate/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/hmtnote/annotate/main.nf
  tests/modules/nf-core/hmtnote/annotate/nextflow.config
  tests/modules/nf-core/hmtnote/annotate/test.yml
Labels: help wanted, linting, conda-fail, pip

#8490 fix samtools collatefastq meta
  modules/nf-core/samtools/collatefastq/meta.yml
Labels: Ready for Review

#8497 Migrate `bam_cnv_wisecondorx` to nf-test
  subworkflows/nf-core/bam_cnv_wisecondorx/main.nf
  subworkflows/nf-core/bam_cnv_wisecondorx/tests/main.nf.test
  subworkflows/nf-core/bam_cnv_wisecondorx/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/bam_cnv_wisecondorx/main.nf
  tests/subworkflows/nf-core/bam_cnv_wisecondorx/nextflow.config
  tests/subworkflows/nf-core/bam_cnv_wisecondorx/test.yml
Labels: nf-test

#8499 Migrate `bam_markduplicates_samtools` to nf-test
  modules/nf-core/samtools/collate/main.nf
  modules/nf-core/samtools/collate/tests/main.nf.test
  modules/nf-core/samtools/collate/tests/main.nf.test.snap
  subworkflows/nf-core/bam_markduplicates_samtools/main.nf
  subworkflows/nf-core/bam_markduplicates_samtools/tests/main.nf.test
  subworkflows/nf-core/bam_markduplicates_samtools/tests/main.nf.test.snap
  subworkflows/nf-core/bam_markduplicates_samtools/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/bam_markduplicates_samtools/main.nf
  tests/subworkflows/nf-core/bam_markduplicates_samtools/test.yml
Labels: nf-test

#8489 Sanitized fasta before passing to av_screen to avoid permanentFail
  modules/nf-core/fcs/fcsadaptor/environment.yml
  modules/nf-core/fcs/fcsadaptor/main.nf
  modules/nf-core/fcs/fcsadaptor/meta.yml
  modules/nf-core/fcs/fcsadaptor/tests/main.nf.test.snap
Labels: Ready for Review

#8501 Migrate `bed_scatter_bedtools` to nf-test
  subworkflows/nf-core/bed_scatter_bedtools/main.nf
  subworkflows/nf-core/bed_scatter_bedtools/tests/main.nf.test
  subworkflows/nf-core/bed_scatter_bedtools/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/bed_scatter_bedtools/main.nf
  tests/subworkflows/nf-core/bed_scatter_bedtools/nextflow.config
  tests/subworkflows/nf-core/bed_scatter_bedtools/test.yml
Labels: nf-test

#8496 Migrate `somalier/ancestry` to nf-test
  modules/nf-core/midas/run/tests/main.nf.test
  modules/nf-core/somalier/ancestry/environment.yml
  modules/nf-core/somalier/ancestry/main.nf
  modules/nf-core/somalier/ancestry/meta.yml
  modules/nf-core/somalier/ancestry/tests/main.nf.test
  modules/nf-core/somalier/ancestry/tests/main.nf.test.snap
  modules/nf-core/somalier/ancestry/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/somalier/ancestry/main.nf
  tests/modules/nf-core/somalier/ancestry/nextflow.config
  tests/modules/nf-core/somalier/ancestry/test.yml
Labels: nf-test

#8503 Migrate `fasta_clean_fcs` to nf-test
  .github/skip_nf_test.json
  subworkflows/nf-core/fasta_clean_fcs/main.nf
  subworkflows/nf-core/fasta_clean_fcs/meta.yml
  subworkflows/nf-core/fasta_clean_fcs/tests/main.nf.test
  subworkflows/nf-core/fasta_clean_fcs/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/fasta_clean_fcs/main.nf
  tests/subworkflows/nf-core/fasta_clean_fcs/nextflow.config
  tests/subworkflows/nf-core/fasta_clean_fcs/test.yml
Labels: nf-test

#8505 Migrate `fastq_align_bwaaln` to nf-test
  modules/nf-core/bwa/aln/main.nf
  modules/nf-core/bwa/aln/tests/main.nf.test
  modules/nf-core/bwa/aln/tests/main.nf.test.snap
  modules/nf-core/bwa/sampe/main.nf
  modules/nf-core/bwa/sampe/tests/main.nf.test
  modules/nf-core/bwa/sampe/tests/main.nf.test.snap
  modules/nf-core/bwa/samse/main.nf
  modules/nf-core/bwa/samse/tests/main.nf.test
  modules/nf-core/bwa/samse/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_align_bwaaln/main.nf
  subworkflows/nf-core/fastq_align_bwaaln/tests/main.nf.test
  subworkflows/nf-core/fastq_align_bwaaln/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_align_bwaaln/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/fastq_align_bwaaln/main.nf
  tests/subworkflows/nf-core/fastq_align_bwaaln/nextflow.config
  tests/subworkflows/nf-core/fastq_align_bwaaln/test.yml
Labels: nf-test

#8506 Migrate `fastq_align_chromap` to nf-test
  subworkflows/nf-core/fastq_align_chromap/tests/main.nf.test
  subworkflows/nf-core/fastq_align_chromap/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_align_chromap/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/fastq_align_chromap/main.nf
  tests/subworkflows/nf-core/fastq_align_chromap/nextflow.config
  tests/subworkflows/nf-core/fastq_align_chromap/test.yml
Labels: nf-test

#8508 Migrate `fastq_contam_seqtk_kraken` to nf-test
  subworkflows/nf-core/fastq_contam_seqtk_kraken/main.nf
  subworkflows/nf-core/fastq_contam_seqtk_kraken/tests/main.nf.test
  subworkflows/nf-core/fastq_contam_seqtk_kraken/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_contam_seqtk_kraken/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/fastq_contam_seqtk_kraken/main.nf
  tests/subworkflows/nf-core/fastq_contam_seqtk_kraken/nextflow.config
  tests/subworkflows/nf-core/fastq_contam_seqtk_kraken/test.yml
Labels: nf-test

#7518 bioformats2raw module
  modules/nf-core/bioformats2raw/environment.yml
  modules/nf-core/bioformats2raw/main.nf
  modules/nf-core/bioformats2raw/meta.yml
  modules/nf-core/bioformats2raw/tests/main.nf.test
  modules/nf-core/bioformats2raw/tests/main.nf.test.snap
Labels: ready to merge

#8523 Migrate `vcf_extract_relate_somalier` to nf-test
  subworkflows/nf-core/vcf_extract_relate_somalier/main.nf
  subworkflows/nf-core/vcf_extract_relate_somalier/tests/main.nf.test
  subworkflows/nf-core/vcf_extract_relate_somalier/tests/main.nf.test.snap
  subworkflows/nf-core/vcf_extract_relate_somalier/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/vcf_extract_relate_somalier/main.nf
  tests/subworkflows/nf-core/vcf_extract_relate_somalier/nextflow.config
  tests/subworkflows/nf-core/vcf_extract_relate_somalier/test.yml
Labels: nf-test

#8524 Migrate `vcf_gather_bcftools` to nf-test
  subworkflows/nf-core/vcf_gather_bcftools/main.nf
  subworkflows/nf-core/vcf_gather_bcftools/tests/main.nf.test
  subworkflows/nf-core/vcf_gather_bcftools/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/subworkflows/nf-core/vcf_gather_bcftools/main.nf
  tests/subworkflows/nf-core/vcf_gather_bcftools/nextflow.config
  tests/subworkflows/nf-core/vcf_gather_bcftools/test.yml
Labels: nf-test

#8528 Fix catpack/download command
  modules/nf-core/catpack/download/main.nf
Labels: Ready for Review

#8459 nf-test: migrate cellrangeratac/mkfastq tests (#7547)
  .github/skip_nf_test.json
  modules/nf-core/cellrangeratac/mkfastq/main.nf
  modules/nf-core/cellrangeratac/mkfastq/meta.yml
  modules/nf-core/cellrangeratac/mkfastq/tests/main.nf.test
  modules/nf-core/cellrangeratac/mkfastq/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/modules/nf-core/cellrangeratac/mkfastq/main.nf
  tests/modules/nf-core/cellrangeratac/mkfastq/nextflow.config
  tests/modules/nf-core/cellrangeratac/mkfastq/test.yml
Labels: nf-test

#8534 Improve catpack/download output structure
  modules/nf-core/catpack/download/main.nf
  modules/nf-core/catpack/download/meta.yml
  modules/nf-core/catpack/download/tests/main.nf.test.snap
Labels: Ready for Review

#8542 Migrate `gangstr` to nf-test
  modules/nf-core/gangstr/main.nf
  modules/nf-core/gangstr/meta.yml
  modules/nf-core/gangstr/tests/main.nf.test
  modules/nf-core/gangstr/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/modules/nf-core/gangstr/main.nf
  tests/modules/nf-core/gangstr/nextflow.config
  tests/modules/nf-core/gangstr/test.yml
Labels: nf-test

#8544 Deprecate `msisensor` and migrate to nf-test
  modules/nf-core/msisensor/msi/main.nf
  modules/nf-core/msisensor/msi/tests/main.nf.test
  modules/nf-core/msisensor/msi/tests/main.nf.test.snap
  modules/nf-core/msisensor/scan/main.nf
  modules/nf-core/msisensor/scan/tests/main.nf.test
  modules/nf-core/msisensor/scan/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/modules/nf-core/msisensor/msi/main.nf
  tests/modules/nf-core/msisensor/msi/nextflow.config
  tests/modules/nf-core/msisensor/msi/test.yml
  tests/modules/nf-core/msisensor/scan/main.nf
  tests/modules/nf-core/msisensor/scan/nextflow.config
  tests/modules/nf-core/msisensor/scan/test.yml
Labels: nf-test

#8546 Migrate `cnvpytor/partition` to nf-test
  modules/nf-core/cnvpytor/partition/environment.yml
  modules/nf-core/cnvpytor/partition/main.nf
  modules/nf-core/cnvpytor/partition/meta.yml
  modules/nf-core/cnvpytor/partition/tests/main.nf.test
  modules/nf-core/cnvpytor/partition/tests/main.nf.test.snap
  tests/modules/nf-core/cnvpytor/partition/main.nf
  tests/modules/nf-core/cnvpytor/partition/nextflow.config
  tests/modules/nf-core/cnvpytor/partition/test.yml
Labels: nf-test

#8547 Update catpack/download and /prepare process labels
  modules/nf-core/catpack/download/main.nf
  modules/nf-core/catpack/prepare/main.nf
Labels: Ready for Review

#8551 Migrate `msisensor2/msi` to nf-test
  modules/nf-core/msisensor2/msi/main.nf
  modules/nf-core/msisensor2/msi/meta.yml
  modules/nf-core/msisensor2/msi/tests/main.nf.test
  modules/nf-core/msisensor2/msi/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/modules/nf-core/msisensor2/msi/main.nf
  tests/modules/nf-core/msisensor2/msi/nextflow.config
  tests/modules/nf-core/msisensor2/msi/test.yml
Labels: nf-test

#8558 Migrate `purgedups/purgedups` to nf-test
  .github/skip_nf_test.json
  modules/nf-core/purgedups/purgedups/main.nf
  modules/nf-core/purgedups/purgedups/tests/main.nf.test
  modules/nf-core/purgedups/purgedups/tests/main.nf.test.snap
  tests/config/pytest_modules.yml
  tests/modules/nf-core/purgedups/purgedups/main.nf
  tests/modules/nf-core/purgedups/purgedups/nextflow.config
  tests/modules/nf-core/purgedups/purgedups/test.yml
Labels: nf-test

#8562 Migrate `ultra/index` to nf-test
  modules/nf-core/ultra/index/environment.yml
  modules/nf-core/ultra/index/main.nf
  modules/nf-core/ultra/index/meta.yml
  modules/nf-core/ultra/index/tests/main.nf.test
  modules/nf-core/ultra/index/tests/main.nf.test.snap
  modules/nf-core/ultra/index/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/ultra/index/main.nf
  tests/modules/nf-core/ultra/index/nextflow.config
  tests/modules/nf-core/ultra/index/test.yml
Labels: nf-test

#8564 Migrate `universc` to nf-test
  modules/nf-core/universc/main.nf
  modules/nf-core/universc/meta.yml
  modules/nf-core/universc/tests/main.nf.test
  modules/nf-core/universc/tests/main.nf.test.snap
  modules/nf-core/universc/tests/nextflow.config
  tests/config/pytest_modules.yml
  tests/modules/nf-core/universc/main.nf
  tests/modules/nf-core/universc/nextflow.config
  tests/modules/nf-core/universc/test.yml
Labels: nf-test
